<div id="fullpage">

    <div id=content>
    <p   style="text-align: center;" >----Famous Destination Details----</p>


    <table class="table table-hover">
        <tr style="color: crimson; font-size: smaller;">
            <td >Place</td>
            <td >Time for a visit</td>
        
            <td >Entrance Fee - Adult</td>
        
            <td >Entrance Fee - children</td>
            <td >District</td>
            <td >City</td>

            <td >Rules</td>
        
            <td >Description</td>
            <td >Attractions</td>
            <td >Activities</td>
     
        </tr>
    
        <tr *ngFor="let des of service.list">
            <td >{{des.DestinationName}}</td>
            <td >{{des.Time}}</td>
            <td >{{des.EntranceFee}}</td>
            <td >{{des.EntranceFeeChild}}</td>
            <td >{{des.CityOfTheDestination}}</td>
            <td >{{des.Village}}</td>
            <td >{{des.RulesAndRegulations}}</td>
            <td >{{des.DescriptionOfThePlace}}</td>
            <td >{{des.Attraction}}</td>
            <td >{{des.Activities}}</td>
        </tr>
    </table>

</div>
</div>
<button type="button" (click)="downPDF()">Download PDF</button>