<div id="fullpage">

    <div id=content>
    <p   style="text-align: center;" >----Famous Destination Details----</p>


    <table class="table table-hover">
          <thead class="thead-dark">
        <tr style="color: crimson; font-size: smaller;">
            <th >Place</th>
            <th >Time for a visit</th>  
            <th >Entrance Fee - Adult</th>  
            <th >Entrance Fee - children   </th>
            <th >District</th>
            <th >City</th>
            <th >Rules</th>
            <th >Description</th>
            <th >Attractions</th>
            <th >Activities</th>
        </tr>
    </thead>
        <tr *ngFor="let des of service.list">
            <td >{{des.DestinationName}}</td>
            <td >{{des.Time}}</td>
            <td >{{des.EntranceFee}}</td>
            <td >{{des.EntranceFeeChild}}</td>
            <td >{{des.CityOfTheDestination}}</td>
            <td >{{des.Village}}</td>
            <td >{{des.RulesAndRegulations}}</td>
            <td >{{des.DescriptionOfThePlace}}</td>
            <td >{{des.Attraction}}</td>
            <td >{{des.Activities}}</td>
        </tr>
    </table>

</div>
</div>
<button type="button" (click)="downPDF()">Download PDF</button>