<!-- <h1>{{UserName}}</h1> -->

<div style="text-align: center; background-color: rgb(119, 159, 245);">
    <hr>
    <h2>Wellcome {{UserName}}</h2>
    <hr>
</div>

<div class="jumbotron divmain container ">
    <div class="jumbtron">
        <h1 class="display-4 text-center"><strong>Driver Section</strong></h1>
        <div>
            <app-driver-list></app-driver-list>
        </div>
    </div>
</div>
    
<!-- npm install ngx-pagination --save -->
<!-- npm install --save ng2-charts -->
<!-- npm install --save chart.js -->
<!-- npm i ng2-search-filter --save -->