<h1>{{UserName}}</h1>
<br>
<div class="jumbotron divmain container ">
 
<div class="container">
<br>
  <hr>
  <h1 class="display-4 text-center h1main">
    Guide Registration
</h1> 
<hr>
  <div class="row ">

     
    <div class="col-md-14 ">
      <app-guide></app-guide>
          </div>
      </div>
  <hr>
  <h1 class="display-4 text-center h1main">
    Guide List
</h1> 
<hr>

      <div class="row">
        
        <app-guide-list></app-guide-list>
      </div>
   
      </div>
    
  </div>


