<!-- <h1>{{UserName}}</h1> -->

<div style="text-align: center; background-color: rgb(119, 159, 245);">
    <hr>
    <h2>Wellcome {{UserName}}</h2>
    <hr>
</div>

<div class="jumbotron divmain container">
    <hr>
   <h1 class="display-4  ">
    <mat-icon>commute  directions_car directions_boat directions_subway local_taxi tram two_wheeler drive_eta airport_shuttle
        commute  directions_car directions_boat directions_subway local_taxi tram two_wheeler drive_eta airport_shuttle
        commute  directions_car directions_boat directions_subway local_taxi tram two_wheeler drive_eta airport_shuttle
        commute  directions_car directions_boat directions_subway local_taxi tram two_wheeler drive_eta airport_shuttle
    </mat-icon>
    </h1> 
    <hr>
    <div>
        <app-vehicle-list></app-vehicle-list>
           
            <hr>
            <br>
 <br>    
 <br>  
        
    </div>
</div>
