<h3 class="display-5 text-center">Add Destination Details</h3>

<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="EmployeeID" >

    <div class="form-gorup">
        <label>Rules and Regulations:</label>
        <input type="file" name="Address">
    </div>
    <div class="form-gorup">
        <label>Destination Name :lakshan</label>
        <input name="FullName" >
    </div>

    <div class="form-gorup">
        <label>Address:</label>
        <input  name="Address">
    </div>

    <div class="form-gorup">
        <label>Rules and Regulations:</label>
        <input  name="Address">
    </div>


    <div class="form-gorup">
        <label>Description:</label>
        <input name="NicNo" >
    </div>

   <br>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block">Submit</button>
    </div>
</form>
