
<form #form= "ngForm" (submit)="onSubmit(form)" autocomplete="off">

<div class="row">

<div class="col-md-6"> 

<input type="hidden" name="DestinationID" #DestinationID= "ngModel" [(ngModel)]="service.formData.DestinationID">
 <div class="form-group">
     <label style="color: black;">DESTINATION NAME</label>
     <input name="DestinationName" #DestinationName= "ngModel" [(ngModel)]="service.formData.DestinationName" class="form-control" required>
     <div class="validation-error" *ngIf = "DestinationName.invalid && DestinationName.touched">This feild is required.</div>
 </div>
 <div class="form-group">
    <label style="color: black;">TIME</label>
    <input name="Time" #Time= "ngModel" [(ngModel)]="service.formData.Time" class="form-control" required>
    <div class="validation-error" *ngIf = "Time.invalid && Time.touched">This feild is required.</div>
</div>


<div class="row">

<div class="col-md-6"> 

<div class="form-group">
    <label style="color: black;">ENTRANCE FEE Adult</label>
    <input name="EntranceFee" input type="number" #EntranceFee= "ngModel" [(ngModel)]="service.formData.EntranceFee" class="form-control" required>
    <div class="validation-error" *ngIf = "EntranceFee.invalid && EntranceFee.touched">This feild is required. Can only input numbers</div>
</div>

</div>

<div class="col-md-6"> 

<div class="form-group">
    <label style="color: black;">ENTRANCE FEE child</label>
    <input name="EntranceFeeChild" input type="number" #EntranceFeeChild= "ngModel" [(ngModel)]="service.formData.EntranceFeeChild" class="form-control" required>
    <div class="validation-error" *ngIf = "EntranceFeeChild.invalid && EntranceFeeChild.touched">This feild is required. Can only input numbers</div>
</div>

</div>

</div>

<div class="row">

<div class="col-md-12"> 
        <div class="form-group">
        <label style="color: black;">ACTIVITIES</label>
        <input name="Activities" #Activities= "ngModel" [(ngModel)]="service.formData.Activities" class="form-control" required>
        <div class="validation-error" *ngIf = "Activities.invalid && Activities.touched">This feild is required.</div>
 </div>
 <div class="form-group">
    <label style="color: black;">ATTRACTION</label>
    <input name="Attraction" #Attraction= "ngModel" [(ngModel)]="service.formData.Attraction" class="form-control" required>
    <div class="validation-error" *ngIf = "Attraction.invalid && Attraction.touched">This feild is required.</div>
</div>


</div>
</div>
</div>


<div class="col-md-6">
<!-- <div class="form-group">
        <label style="color: black;">CITY OF THE DESTINATION</label>
        <input name="CityOfTheDestination" #CityOfTheDestination= "ngModel" [(ngModel)]="service.formData.CityOfTheDestination" class="form-control" required>
        <div class="validation-error" *ngIf = "CityOfTheDestination.invalid && CityOfTheDestination.touched">This feild is required.</div>
</div> -->
<div class="row">
<div class="col-md-12"> 

<div class="form-group">
<label style="color: black;">DISTRICT WHICH DESTINATION BELONGS</label>
<select name="CityOfTheDestination" #CityOfTheDestination="ngModel" min="2000" [(ngModel)]="service.formData.CityOfTheDestination" class="form-control">
    <option value="Colombo" >Colombo</option>
    <option value="Gampaha">Gampaha</option>
    <option value="Kaluthara">Kaluthara</option>
    <option value="Kandy">Kandy</option>
    <option value="NuwaraEliya">NuwaraEliya</option>
    <option value="Matale">Matale</option>
    <option value="Galle">Galle</option>
    <option value="Matara">Matara</option>
    <option value="Hambanthota">Hambanthota</option>
    <option value="Jaffna">Jaffna</option>
    <option value="Kilinochchi">Kilinochchi</option>
    <option value="Mannaram">Mannaram</option>
    <option value="Mullaitivu">Mullaitivu</option>
    <option value="Vavuniya">Vavuniya</option>
    <option value="Puttalam">Puttalam</option>
    <option value="Kurunegala">Kurunegala</option>
    <option value="Anuradhapura">Anuradhapura</option>
    <option value="Polonnaruwa">Polonnaruwa</option>
    <option value="Kegalle">Kegalle</option>
    <option value="Ratnapura">Ratnapura</option>
    <option value="Trincomalee">Trincomalee</option>
    <option value="Batticaloa">Batticaloa</option>
    <option value="Ampara">Ampara</option>
    <option value="Badulla">Badulla</option>
    <option value="Monaragala">Monaragala</option>
</select>
</div>
</div>
</div>

<div class="form-group">
    <label style="color: black;">CITY OF THE DESTINATION</label>
    <input name="Village" #Village= "ngModel" [(ngModel)]="service.formData.Village" class="form-control" required>
    <div class="validation-error" *ngIf = "Village.invalid && Village.touched">This feild is required.</div>
</div>



<div class="form-group">
        <label style="color: black;">RULES AND REGULATIONS</label>
        <input name="RulesAndRegulations" #RulesAndRegulations= "ngModel" [(ngModel)]="service.formData.RulesAndRegulations" class="form-control"required>
        <div class="validation-error" *ngIf = "RulesAndRegulations.invalid && RulesAndRegulations.touched">This feild is required.</div>
    </div>
    <div class="form-group">
        <label style="color: black;" >DESCRIPTION OF THE PLACE</label>
        <input name="DescriptionOfThePlace" #DescriptionOfThePlace= "ngModel" [(ngModel)]="service.formData.DescriptionOfThePlace" class="form-control" required>
        <div class="validation-error" *ngIf = "DescriptionOfThePlace.invalid && DescriptionOfThePlace.touched">This feild is required.</div>
</div>
</div>





</div>
<div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>

</div>
<button type="button"  (click)="AutoFill()" class="btn btn-lg btn-block">DEMO</button>
</form>
