<div class="row">
  <div class="col-md-10">
    <div class="display-4">Customer Details</div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-sm btn-outline-danger pull-right" [mat-dialog-close]>X</button>
  </div>
</div>
<hr>


<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="service.formData.ID">
        <!-- <div class="form-group">
            <label>Agent Name</label>
            <input name="AgentName" #AgentName="ngModel" [(ngModel)]="formData.AgentName" class="form-control">
            <div class="validation-error" *ngIf = "AgentName.invalid && AgentName.touched">This field is required</div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <h4>Elephas Details</h4>
          </div>
          <div class="form-group col-md-6">
            <div class="form-group">
              <label>Agent Name</label>
              <input name="AgentName" #AgentName="ngModel" [(ngModel)]="service.formData.AgentName" class="form-control" placeholder="Ex: John Doe" autofocus>
              <div class="validation-error" *ngIf="AgentName.invalid && AgentName.touched">This field is required.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="form-group">
              <label>Tour Executive</label>
              <input name="TourExecutive" #TourExecutive="ngModel" [(ngModel)]="service.formData.TourExecutive" class="form-control" placeholder="Tour Executive's Name" required>
              <div class="validation-error" *ngIf="TourExecutive.invalid && TourExecutive.touched">This field is required.</div>
            </div>
          </div>
        </div>


        <hr>


        <div class="row">
            <div class="col-md-12">
              <h4>Customer Details</h4>
            </div>
        </div>



        <div class="row">
            <div class="form-group col-md-6">
              <div class="form-group">
                <label>Customer Name</label>
                <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Name of the customer" required>
                <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-group">
                <label>Nationality</label>
                <input name="Nationality" #Nationality="ngModel" [(ngModel)]="service.formData.Nationality" class="form-control" placeholder="Ex: Indian" required>
                <div class="validation-error" *ngIf="Nationality.invalid && Nationality.touched">This field is required.</div>
              </div>
            </div>
        </div>



        <div class="row">
          <div class="form-group col-md-4">
            <div class="form-group">
                <label>Passport No</label>
                <input name="PassportNo" #PassportNo="ngModel" [(ngModel)]="service.formData.PassportNo" class="form-control" placeholder="Customer's Passport No" required>
                <div class="validation-error" *ngIf="PassportNo.invalid && PassportNo.touched">This field is required.</div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="form-group">
                <label>Email</label>
                <input name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control" placeholder="customer@example.com" required>
                <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field is required.</div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="form-group">
              <label>Phone</label>
              <input name="Phone" #Phone="ngModel" [(ngModel)]="service.formData.Phone" class="form-control" maxlength="15" placeholder="Ex: 0112345678" required>
              <div class="validation-error" *ngIf="Phone.invalid && Phone.touched">This field is required.</div>
            </div>
          </div>
        </div>



        <hr>

<!-- Tour Details ================================================================================ -->

<div class="row">
  <div class="col-md-12">
    <h4>Tour Details</h4>
  </div>
  <div class="form-group col-md-4">
    <div class="form-group">
      <label>Number Of Days</label>
      <input name="NoDays" #NoDays="ngModel" [(ngModel)]="service.formData.NoDays" class="form-control" maxlength="5" placeholder="Ex: 2" pattern="[0-9-.]{1,4}" required>
      <div class="validation-error" *ngIf="NoDays.invalid && NoDays.touched">This field is required. Decimal numbers only Ex: 2, 4, 4.5</div>
  </div>
  </div>
  <div class="form-group col-md-4">
    <div class="form-group">
      <label>Number Of People (Adults)</label>
      <input name="NoPeople" #NoPeople="ngModel" [(ngModel)]="service.formData.NoPeople" class="form-control" maxlength="2" placeholder="Ex: 4" pattern="[0-9]{1,2}" required>
      <div class="validation-error" *ngIf="NoPeople.invalid && NoPeople.touched">This field is required. Only two numbers allowed Ex: 4, 5, 6</div>
  </div>
  </div>
  <div class="form-group col-md-4">
    <div class="form-group">
      <label>No of Children</label>
      <input name="NoChildren" #NoChildren="ngModel" [(ngModel)]="service.formData.NoChildren" class="form-control" maxlength="2" placeholder="Ex: 2" pattern="[0-9]{1,2}" required>
      <div class="validation-error" *ngIf="NoChildren.invalid && NoChildren.touched">This field is required. Only two numbers allowed Ex: 1, 2, 3</div>
  </div>
  </div>
</div>


<!-- ============================================================================ -->

<div class="form-row">
  <div class="form-group col-md-4">
    <div class="form-group">
        <label>Arrival Date</label>
        <!--I want to get the date input from the user-->
        <!--I want to display the date input which given by the user-->
        <input type="datetime-local" name="ArrivalDate" #ArrivalDate="ngModel" [(ngModel)]="service.formData.ArrivalDate" class="form-control" max="2020-01-01" required>
        <div class="validation-error" *ngIf="ArrivalDate.invalid && ArrivalDate.touched">This field is required.</div>
        <div class="validation-error" *ngIf="(ArrivalDate.value>DepartureDate.value)">Arrival Date < Departure Date</div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <div class="form-group">
        <label>Departure Date</label>
         <!--I want to get the date input from the user-->
        <!--I want to display the date input which given by the user-->
        <input type="datetime-local" name="DepartureDate" #DepartureDate="ngModel" [(ngModel)]="service.formData.DepartureDate" class="form-control" required>
        <div class="validation-error" *ngIf="DepartureDate.invalid && DepartureDate.touched">This field is required.</div>
        <!-- <div class="validation-error" *ngIf="(ArrivalDate.valid && ArrivalDate.untouched) && isDateValid == false && service.formData.ID == null">Date invalid</div> -->
        <div class="validation-error" *ngIf="(ArrivalDate.value>DepartureDate.value)">Arrival Date < Departure Date</div>
    </div>
  </div>
  <div class="form-group col-md-4">
      <div class="form-group">
        <label>Star Category</label>
        <input name="StarCategory" #StarCategory="ngModel" [(ngModel)]="service.formData.StarCategory" class="form-control" maxlength="6" pattern="[a-zA-Z0-9-_. ]+" required>
        <div class="validation-error" *ngIf="StarCategory.invalid && StarCategory.touched">This field is required. Ex: 2 Star, 3 Star, 4 Star</div>
    </div>
  </div>
</div>


<!-- ===================================================================== -->

      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" id="RemarksTextArea" rows="3" name="Remarks" #Remarks="ngModel" [(ngModel)]="service.formData.Remarks" required></textarea>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>Exchange Rate</label>
            <input name="ExchangeRate" #ExchangeRate="ngModel" [(ngModel)]="service.formData.ExchangeRate" class="form-control" pattern="\d+(\.\d{2})?" required>
            <div class="validation-error" *ngIf="ExchangeRate.invalid && ExchangeRate.touched">This field is required.  Ex: 155, 168.00, 185.75</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>Tour Status</label>
            <input name="Status" #Status="ngModel" [(ngModel)]="service.formData.Status" class="form-control" required>
            <div class="validation-error" *ngIf="Status.invalid && Status.touched">This field is required Ex: Not Confirmed, Confirmed</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="form.invalid || (ArrivalDate.value>DepartureDate.value)" class="btn btn-lg btn-block" *ngIf="service.formData.ID==null;">SUBMIT</button>
        <button type="button" (click)="downloadRequest(service.formData.ID,1,1)" [disabled]="form.invalid || (ArrivalDate.value>DepartureDate.value)" class="btn btn-lg btn-info btn-block" *ngIf="service.formData.ID!=null;">Download Report as PDF</button>
        <button type="button" (click)="updateRecord(form)" [disabled]="form.invalid || (ArrivalDate.value>DepartureDate.value)" class="btn btn-lg btn-success btn-block" *ngIf="service.formData.ID!=null;">UPDATE</button>
        <button type="button" (click)="deleteRecord(service.formData.ID)" [disabled]="form.invalid || (ArrivalDate.value>DepartureDate.value)" class="btn btn-lg btn-danger btn-block" *ngIf="service.formData.ID!=null;">DELETE</button>
        <button type="button" (click)="insertDummyData()" [disabled]="(ArrivalDate.value>DepartureDate.value)" class="btn btn-lg btn-danger btn-block" *ngIf="service.formData.ID==null;">Insert Dummy Data</button>
        <button type="button" class="btn btn-lg btn-outline-dark btn-block ml-1" [mat-dialog-close]>CLOSE</button>
      </div>

</form>
