<script src="html2pdf.bundle.min.js"></script>

<button class="btn-primary btn-lg addbtn" mat-raised-button  (click)="AddOrEditVehicles(null)">
  <mat-icon>add_box</mat-icon>  Add a Vehicle
</button>

<br>
<hr>

<div class="row" >      
<div class="col-md-2" style="margin-right:10px" >
<label for="type">Filter by</label><br>
<select (change)="showSelectValue($event)" id="vehType" class="form-control">
  <option type="submit" value="All">All</option>
  <option type="submit" value="van">van</option>
  <option type="submit"  value="bus">bus</option> 
  <option type="submit" value="car">car</option>
  <option type="submit" value="suv">suv</option>
</select>
</div>
</div>
<br>



<div class="row" >  
<div class="col-md-4" *ngFor="let veh of filterItemsOfType(selected) ;let i=index;" >
<br>
<div class="card" style="width: 20rem;" id="element_to_export">
    <div class="card-body">
      <h5 class="card-title">{{veh.VehicleNo}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="color: crimson; font-weight: bold; text-align: center;">{{veh.Brand}} {{veh.Model}}</li>
      <!-- <li class="list-group-item">Manufactured :{{veh.ManuYr}}</li> -->
      <li class="list-group-item">No of seats: {{veh.NoOfSeats}}</li>
      <li class="list-group-item">Owner: {{veh.OwnersName}}</li>
      <li class="list-group-item" style="color: rgb(25, 0, 247); font-weight: bold;;">Contact: {{veh.OwnersContact}}</li>
      <li class="list-group-item " style="font-weight: bolder; text-align: center;">Rate per KM: Rs.{{veh.RatePerKM}}/=</li>
    </ul>
    <div class="card-body">
   <table class="table">     
     <tr class="table-hover grab tbl1">
     <button (click)="populateForm(veh)" class="card-link btn btn-sm btn-outline -danger ybtn"> <mat-icon>open_in_new</mat-icon></button>
     <button class="btn btn-sm btn-outline -danger xbtn" (click)="onDelete(veh.VehicleID)"><mat-icon>delete</mat-icon></button></tr>  
    </table>
    </div>
  </div>
  </div>
</div>


    <br>
      <hr> 
 <div style="margin-left: 45%;">
    <button style="text-align: center; margin-top: 20px; font-size: small;" class="  bottombtn btn-primary btn-lg " *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
    <!-- <a class="nav-link" href="http://localhost:4200/print" >print</a> -->
    <br>
    <button style=" margin-top: 20px; font-size: small;" class=" bottombtn  btn-primary btn-lg " *ngIf="isShow"  (click)=" getList()">Genarate Report</button>

  </div>