<div class="row" >  
    <div class="col-md-6" >

<label for="order">Order by</label>
<select id="order" name="order">
  <option type="submit" value="...">A-Z</option>
  <option type="submit" value="...">Z-A</option>
  <option type="submit"  value="...">Lowest price</option>
  <option type="submit" value="...">Highets price</option>
  <option type="submit" value="...">No of passengers from lowest</option>
  <option type="submit" value="...">No of passengers from highest</option>
  <option type="submit" value="...">Manufactured year</option>
</select>

    </div>
<div class="col-md-6" >

<label for="filter">Filter by</label>
<select id="filter" name="filter">
  <option type="submit" value="...">Car</option>
  <option type="submit" value="...">Van</option>
  <option type="submit"  value="...">Bus</option>
  <option type="submit" value="...">Jeep</option>
  <option type="submit" value="...">A/C</option>
  <option type="submit" value="...">non-A/C</option>
</select>



  </div>
  </div>
  
  <br>
     <div class="row" >  
        <div class="col-md-4" *ngFor="let veh of service.list " >
<br>
<div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://static1.squarespace.com/static/5898e29c725e25e7132d5a5a/58aa11bc9656ca13c4524c68/58aa11e99656ca13c45253e2/1487540713345/600x400-Image-Placeholder.jpg?format=original" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{veh.VehicleNo}}</h5>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="color: crimson; font-weight: bold; text-align: center;">{{veh.Brand}} {{veh.Model}}</li>
      <li class="list-group-item">Manufactured :{{veh.ManuYr}}</li>
      <li class="list-group-item">No of seats: {{veh.NoOfSeats}}</li>
      <li class="list-group-item">Owner: {{veh.OwnersName}}</li>
      <li class="list-group-item">Contact: {{veh.OwnersContact}}</li>
      <li class="list-group-item " style="font-weight: bolder; text-align: center;">Rate : Rs.{{veh.RatePerKM}}/=</li>

    </ul>
    <div class="card-body">
   <table class="table">     
     <tr class="table-hover grab tbl1">
      <td (click)="populateForm(veh)" class="card-link">View/Edit</td>
      <td ><button class="btn btn-sm btn-outline -danger xbtn" (click)="onDelete(veh.VehicleID)">X</button></td>
    </tr>
</table>
    </div>
  </div>


 </div>
     </div>