<div>

  <h4 style="color: blue; text-align: center;" >This Function Can Access Only Admin</h4>
  <hr>
  <br>

  <div style="text-align: center;">
    <form #form="ngForm"  autocomplete="off">
          <div class="row">
            <div class="col-md-12">

              <mat-form-field appearance="outline">
                <mat-label><strong>User Name</strong></mat-label>
                <input matInput  name="FirstName"  [(ngModel)]="form.value.FirstName">
              </mat-form-field>

              <!-- <div class="input-group-prepend">
                <span class="input-group-text bg-info text-white" id="basic-addon1"  >User Name</span>
                <input name="FirstName"  [(ngModel)]="form.value.FirstName" class="form-control">
              </div> -->

            </div >
          </div>

          <div class="row">
            <div class="col-md-12">

              <mat-form-field appearance="outline">
                <mat-label><strong>Password</strong></mat-label>
                <input matInput  type="password" name="LastName"  [(ngModel)]="form.value.LastName">
              </mat-form-field>

              <!-- <div class="input-group-prepend">
                <span class="input-group-text bg-info text-white" id="basic-addon1" >Password</span>
                <input   type="password" name="LastName"  class="form-control"  [(ngModel)]="form.value.LastName">
              </div > -->

            </div>
          </div>
          <button type="button" (click)="updateRecord(form)" class="btn btn-lg btn-info" style="width: 200px;">Login</button>
          <br>
          <br>
          <div style="text-align: center;">
            <button (click)="cancelAdminLogin()" class="btn btn-lg btn-info "  style="font-size: small; width: 200px;"   [mat-dialog-close]>Cancel</button>
          </div>
          <br>
    </form>
  </div>

</div>