<h1 style="color: blue; text-align: center;" >This Function Can Access Only Admin</h1>
<br>
<br>

<form #form="ngForm"  autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1"  >User Name</span>
        
        <input name="FirstName"  [(ngModel)]="form.value.FirstName" class="form-control">
       
    </div>
  </div >
      </div>
      <br>
      <div class="row">
  <div class="col-md-12">
    <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1" >Password</span>
      
      <input   type="password" name="LastName"  class="form-control"  [(ngModel)]="form.value.LastName">
      </div >
  </div>
</div>

    
     <br><br>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group-prepend">
            <button (click)="cancelAdminLogin()" style="margin-left: 30px;" class="card-link btn btn-sm btn-outline-danger ybtn" ><mat-icon>cancel</mat-icon> Cancel</button>
      </div></div>
      <div class="col-md-6">
        <button type="button" (click)="updateRecord(form)" style="margin-left: 30px;"  class="card-link btn btn-sm btn-outline-info ybtn" ><mat-icon> person_pin</mat-icon>Login</button>
    </div>
    </div>
</form>

