<!-- <p>driver-list works!</p> -->

<table class="table table-hover">
    <thead class="thead-dark"> 
        <tr>
            <th>Driver ID First Name</th>
            <th>Last Name</th>
            <th>NIC</th>
            <th>Gender</th>
            <th>Rate</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
            <th>License Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of service.list">
            <td (click)="populateForm(d)">[{{d.DriverID}}] - {{d.FirstName}}</td>
            <td (click)="populateForm(d)">{{d.LastName}}</td>
            <td (click)="populateForm(d)">{{d.NIC}}</td>
            <td (click)="populateForm(d)">{{d.Gender}}</td>
            <td (click)="populateForm(d)">{{d.Rate}}</td>
            <td (click)="populateForm(d)">{{d.DateOfBirth}}</td>
            <td (click)="populateForm(d)">{{d.PhoneNumber}}</td>
            <td (click)="populateForm(d)">{{d.LicenseNumber}}</td>
            <td><button (click)="onDelete(d.DriverID)" class="btn btn-sm btn-outline-danger">X</button></td>
        </tr>
    </tbody>
</table>
