<br>
<div class="search-div">
    <div class="row">
        <button  mat-raised-button
            matTooltip="Add new driver to the database by clicking this button"
            aria-label="Button that displays a tooltip when focused or hovered over"
            (click)="AddOrEditDriver(null)"
            matTooltipPosition="right">
            <i class="fa fa-plus"></i>
            Add Driver
        </button>
        
        <div class="search-form-field" style="width: 925px;">
                <input matInput type="search" name="search" [(ngModel)]="searchText" autocomplete="off"  placeholder="Start searching">
        </div> 
    </div>
</div>

<br>
<hr>
<h1 class="display-4 text-center">Driver List</h1>
<hr>

<div class="row">
    <div class="col-md-4" *ngFor="let d of service.list | filter:searchText | paginate: {itemsPerPage:6, currentPage: pageActual}; let i=index">
        <br>
        <div class="card" style="width: 20rem;" >
            <div class="card-body">
                <div style="text-align: center;">
                    <!-- <h5 class="card-title center">Driver: {{i+1}}</h5> -->
                    <h5 class="card-title center">Driver: {{d.DriverID}}</h5>
                </div>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name : </strong>{{d.FirstName}}</li>
                    <li class="list-group-item"><strong>Last Name : </strong>{{d.LastName}}</li>
                    <li class="list-group-item"><strong>NIC : </strong>{{d.NIC}}</li>
                    <li class="list-group-item"><strong>Gender : </strong>{{d.Gender}}</li>
                    <li class="list-group-item"><strong>Rate : $</strong>{{d.Rate}}</li>
                    <li class="list-group-item"><strong>Date of Birth : </strong>{{d.DateOfBirth}}</li>
                    <li class="list-group-item"><strong>Phone number : </strong>{{d.PhoneNumber}}</li>
                    <li class="list-group-item"><strong>License number : </strong>{{d.LicenseNumber}}</li>
                </ul>
            <div class="card-body">
                <table class="table">     
                    <tr class="table-hover grab tbl1 center">
                        <div style="text-align: center;">
                            <div class="button-row">
                                <button mat-raised-button matTooltip="click to edit this dirver's details"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        (click)="populateForm(d)" color="primary" >
                                        <mat-icon>open_in_new</mat-icon>
                                </button>
                                <button  mat-raised-button matTooltip="click to delete this driver"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        color="warn"(click)="onDelete(d.DriverID)">
                                        <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<hr>
<div style="text-align: center;">
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>
<hr>

<br>
<div style="text-align: center;">
    <button mat-raised-button
        matTooltip="Generate driver list report"
        aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="generateDriverReport(null)"
        matTooltipPosition="right">
        Generate report
    </button>
</div>