
<!-- <br> -->
<!-- <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="downloadPDFBtn()">
    Generate Report</button><br><br> -->
  <!-- <table class="table table-hover" #content>
          <thead class="thead-dark">
              <tr>
                <th scope="col">FullName</th>
                <th scope="col">Address</th>
                <th scope="col">BirthDay</th>
                <th scope="col">NicNo</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Change/<br>Delete</th>
              </tr>
            </thead>
<tbody>
  <tr *ngFor="let emp of service.list">
      <td class="text-info">{{emp.FirstName}} {{emp.FirstName}}</td>
      <td class="text-info">{{emp.Address}}</td>
      <td class="text-info">{{emp.BirthDay}}</td>
      <td class="text-info">{{emp.NicNo}}</td>
      <td class="text-info">{{emp.Contact}}</td>
      <td class="text-info">{{emp.Email}}</td>
      <td><button (click)="populateForm(emp)" class="btn btn-sm btn-outline-success">Change</button><br><br><button (click)="onDelete(emp.EmployeeID)" class="btn btn-sm btn-outline-danger">delete</button></td>
      
     
  </tr>
</tbody>

  </table> -->
  
  
  <!-- <div  #content>
  <div *ngFor="let emp of service.list" class="table table-hover">

  <h1>{{emp.FirstName}} {{emp.FirstName}}</h1>
  <h3>{{emp.Address}}</h3> 
  <h3>{{emp.BirthDay}}</h3>
  <h3>{{emp.NicNo}}</h3>
  <h3>{{emp.Contact}}</h3>
  <h3>{{emp.Email}}</h3>     

  </div>

</div> -->

<h1><strong>Estimated Tour Section</strong></h1>  

  <br>
  <div class="row" #content> 
        <div class="col-md-4" *ngFor="let home of service.list " >
          
<br>
<div class="card bg-dark" style="width: 20rem;" >
    <img class="card-img-top" src="/assets/img/tourplan2.jpg">
    <div class="card-body">
      <h5 id="h5list" class="card-title">Customer name : {{home.customerName}}</h5>
      
    </div>
    <ul class="list-group list-group-flush ">

      <li class="bg-success" style=" text-align: center;"><h1 style="color: rgb(68, 0, 255);">Package Price</h1><h1 style="color: red;">LKR : {{home.OverollCost}}</h1></li>
      <!-- <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center;">Expenses: </h4><h4 style="text-align: center;">{{home.TotalExpenses}}/=</h4></li>
      <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center;">Comapny Prasentage: </h4><h4 style="text-align: center;">{{home.CompanyPresentage}}</h4></li>
      <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center; text-align: center;">Company Profit: </h4><h4 style="text-align: center;">{{home.comanyProfit}}/=</h4></li>
      <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center;">Agent Prasentage: </h4><h4 style="text-align: center;">{{home.AgentProfitPrasentage}}</h4></li>
      <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center;">Agent Profit: </h4><h4 style="text-align: center;">{{home.AgentProfit}}/=</h4></li>
      <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center;">Number of Adult: </h4><h4 style="text-align: center;">{{home.numberOfAdult}}</h4></li>
      <li class="btn-sm btn-outline-info"><h4 style="color: aliceblue; text-align: center;">Number of Children: </h4><h4 style="text-align: center;">{{home.numberOfChild}}</h4></li> -->
     
    </ul>
    <div class="card-body">
   <!-- <table class="table">     
     <tr class="table-hover grab tbl1"> -->
      <div class="card-body">
        <!-- <table class="table">     
          <tr class="table-hover grab tbl1"> -->
           <button (click)="populateForm(home)" class="card-link btn btn-sm btn-outline-danger ybtn"> <mat-icon>open_in_new</mat-icon></button>
          <!--<button class="btn btn-sm btn-outline -danger xbtn" (click)="onDelete(emp.EmployeeID)"><mat-icon>delete</mat-icon></button></tr> -->
         
     <!-- </table> -->
         </div>
    <!-- </tr>
</table> -->
    </div>
  </div>
  <br>
</div>
     </div>

     <br>

     <!-- <div style="margin-left: 45%;">
      <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
    </div> -->

    <div style="text-align: center;">
      <button mat-fab color="white" aria-label="scroll up" matTooltip="click to go up in this page" matTooltipPosition="right" *ngIf="isShow" (click)="gotoTop()">
          <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>


     <!-- <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="downloadPDF()">
      Export to PDF</button><br><br>

     <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="AddOrEditEmployees(null)">
      <mat-icon>add_box</mat-icon>Add new
    </button>
    
    <br>
    <hr>
    
      
      <br>
         <div class="row" #content>  
            <div class="col-md-4" *ngFor="let emp of service.list ;let i=index;" >
    <br>
    <div class="card" style="width: 20rem;" >
        <img class="card-img-top" src="https://static1.squarespace.com/static/5898e29c725e25e7132d5a5a/58aa11bc9656ca13c4524c68/58aa11e99656ca13c45253e2/1487540713345/600x400-Image-Placeholder.jpg?format=original" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{emp.EmployeeID}}</h5>
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="color: crimson; font-weight: bold; text-align: center;">{{emp.FirstName}} {{emp.LastName}}</li>
          <li class="list-group-item">Address: {{emp.Address}}</li>
          <li class="list-group-item">Phone Number: {{emp.Contact}}</li>
          <li class="list-group-item " style="font-weight: bolder; text-align: center;">Email: {{emp.Email}}</li>
    
        </ul>
        <div class="card-body">
       <table class="table">     
         <tr class="table-hover grab tbl1">
         <button (click)="populateForm(emp)" class="card-link btn btn-sm btn-outline -danger ybtn"> <mat-icon>open_in_new</mat-icon></button>
         <button class="btn btn-sm btn-outline -danger xbtn" (click)="onDelete(emp.EmployeeID)"><mat-icon>delete</mat-icon></button></tr>
        
    </table>
        </div>
      </div>
    
    
    
     </div>
         </div>
     <div style="margin-left: 45%;">
        <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
      </div> -->