.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #btn1
  {   
    font-size: 1rem;  
    margin-top: -500px;
    text-align: right;
    z-index: 1;
    opacity: 0.8;
    background-color: rgb(250, 248, 252);
  }
  
  h1 {
    text-align: center;
    font-size: 5rem;
    font-family: "Cookie";
    color:white;
    background-color: black;
    margin-left: -100px;
    z-index: 1;
    opacity: .8;

  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }