#header1{
    text-align: center;
    margin-top: 120px;
}

#toprow{
    font-size: xx-large;
}

.fonttable{
    font-size: small;
}

.date{
    text-align: center;
}

.bar{
    background-color: rgb(10, 32, 230); 
    text-align: center; color: 
    floralwhite;
    margin-top: 30px;
}