

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    
    <h3 class="text-danger">
        Total Packege Costing
      </h3>
      <br>

      <input type="hidden" name="homeID" #homeID="ngModel" [(ngModel)]="CompletedService.formData.homeID">

      <div class="form-group">
        <label class="text-info">
          Customer Name
        </label>
        <input type="text" class="form-control text-info" name="customerName"  #customerName="ngModel" [(ngModel)]="CompletedService.formData.customerName"  id="#" placeholder="Total Package Cost in USD" />
        <!-- <input type="hidden" class="form-control text-info" name="customerName"  #customerName="ngModel" [(ngModel)]="ConfirmService.formData.customerName"  id="#" placeholder="Total Package Cost in USD" /> -->
      </div>
      <div class="form-group">
        <label class="text-info">
          Number of Adult
        </label>
        <input type="text" class="form-control text-info" name="numberOfAdult"  #numberOfAdult="ngModel" [(ngModel)]="CompletedService.formData.numberOfAdult"  id="#" placeholder="Total Package Cost in USD" />
        <!-- <input type="hidden" class="form-control text-info" name="numberOfAdult"  #numberOfAdult="ngModel" [(ngModel)]="ConfirmService.formData.numberOfAdult"  id="#" placeholder="Total Package Cost in USD" /> -->
      </div>
      <div class="form-group">
        <label class="text-info">
          Number of Children
        </label>
        <input type="text" class="form-control text-info" name="numberOfChild"  #numberOfChild="ngModel" [(ngModel)]="CompletedService.formData.numberOfChild"  id="#" placeholder="Total Package Cost in USD" />
        <!-- <input type="hidden" class="form-control text-info" name="numberOfChild"  #numberOfChild="ngModel" [(ngModel)]="ConfirmService.formData.numberOfChild"  id="#" placeholder="Total Package Cost in USD" /> -->
      </div>


      <!-- yyyyyyyyyyyyyyyyyyyyyyyyyyyyy -->
      <div class="form-group">
        <label class="text-danger">
          Total Package Cost (LKR)
        </label>
        <input type="text" class="form-control text-danger" name="OverollCost"  #OverollCost="ngModel" [(ngModel)]="CompletedService.formData.OverollCost"  id="#" placeholder="Total Package Cost in USD" />
        <!-- <input type="hidden" class="form-control text-danger" name="OverollCost"  #OverollCost="ngModel" [(ngModel)]="ConfirmService.formData.OverollCost"  id="#" placeholder="Total Package Cost in USD" /> -->
      </div>
        <div class="form-group">
          <label>
            Total Expenses (LKR)
          </label>
          <input type="text" class="form-control" id="#" name="TotalExpenses"   #TotalExpenses="ngModel" [(ngModel)]="CompletedService.formData.TotalExpenses"  placeholder="Total Cost" />
          <!-- <input type="hidden" class="form-control" id="#" name="TotalExpenses"   #TotalExpenses="ngModel" [(ngModel)]="ConfirmService.formData.TotalExpenses"  placeholder="Total Cost" /> -->
          <!-- <input type="hidden" name="TotalExpenses" id="" #TotalExpenses="ngModel" [(ngModel)]="serviceHome.formData.TotalExpenses"> -->
        </div>
        <div class="form-group">
          <label>
            Company Profit %
          </label>
          <!-- <input type="text" class="form-control"  name="CompanyPres" value="{{CompanyPres}}"  [(ngModel)]="CompanyPres" /> -->
          <input type="text" class="form-control"  name="CompanyPresentage"  #CompanyPresentage="ngModel" [(ngModel)]="CompletedService.formData.CompanyPresentage"  placeholder="Total Cost" />
          <!-- <input type="hidden" class="form-control"  name="CompanyPresentage"  #CompanyPresentage="ngModel" [(ngModel)]="ConfirmService.formData.CompanyPresentage"  placeholder="Total Cost" /> -->
        </div>
        
        <div class="form-group">
          <label>
            Agent Profit %
          </label>
          <input type="text" class="form-control" id="#" name="AgentProfitPrasentage"  #AgentProfitPrasentage="ngModel" [(ngModel)]="CompletedService.formData.AgentProfitPrasentage" placeholder="Agent Profit &#37;" />
          <!-- <input type="hidden" class="form-control" id="#" name="AgentProfitPrasentage"  #AgentProfitPrasentage="ngModel" [(ngModel)]="ConfirmService.formData.AgentProfitPrasentage" placeholder="Agent Profit &#37;" /> -->
          <!-- <input type="hidden" name="AgentProfitPrasentage" id="" #AgentProfitPrasentage="ngModel" [(ngModel)]="serviceHome.formData.AgentProfitPrasentage"> -->
        </div>
        <!-- <br> -->
        <!-- <button type="button" (click)="calOverOll(form)" >Calculate Profit</button> -->
        <!-- <br>
        <br> -->
        <div class="form-group">
          <label>
            Company Total Profit (LKR)
          </label>
          <input type="text" class="form-control" id="#" name="comanyProfit"  #comanyProfit="ngModel" [(ngModel)]="CompletedService.formData.comanyProfit" placeholder="Company Profit in USD" />
          <!-- <input type="hidden" class="form-control" id="#" name="comanyProfit"  #comanyProfit="ngModel" [(ngModel)]="ConfirmService.formData.comanyProfit" placeholder="Company Profit in USD" /> -->
        </div>
        <div class="form-group">
          <label>
            Agent Total Profit (LKR)
          </label>
          <input type="text" class="form-control" id="#" name="AgentProfit"  #AgentProfit="ngModel" [(ngModel)]="CompletedService.formData.AgentProfit" placeholder="Agent Profit in USD" />
          <!-- <input type="text" class="form-control" id="#" name="AgentProfit"  #AgentProfit="ngModel" [(ngModel)]="ConfirmService.formData.AgentProfit" placeholder="Agent Profit in USD" /> -->
        </div>
        <div class="row">
          <label style="text-align: center;">
            Sales Executive
          </label>
        </div>
        <div class="row">
        <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" id="#" name="EmployeeFirstName"  #EmployeeFirstName="ngModel" [(ngModel)]="CompletedService.formData.EmployeeFirstName" placeholder="First Name" />
          <!-- <input type="text" class="form-control" id="#" name="AgentProfit"  #AgentProfit="ngModel" [(ngModel)]="ConfirmService.formData.AgentProfit" placeholder="Agent Profit in USD" /> -->
        </div>
        </div>
        <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" id="#" name="EmployeeLastName"  #EmployeeLastName="ngModel" [(ngModel)]="CompletedService.formData.EmployeeLastName" placeholder="Last Name" />
          <!-- <input type="text" class="form-control" id="#" name="AgentProfit"  #AgentProfit="ngModel" [(ngModel)]="ConfirmService.formData.AgentProfit" placeholder="Agent Profit in USD" /> -->
        </div>
        </div>
        </div>
       
     
      <div class="row">
        <div class="col-md-6">
          <div class="input-group-prepend">
        <!-- <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.homeID==null;"> <mat-icon> send</mat-icon></button> -->
        <button type="submit" name="update"  [disabled]="form.invalid" class="btn btn-lg btn-block btndiv" [mat-dialog-close]>Move to Complete</button>
      </div></div>


        <div class="col-md-6">
          <div class="input-group-prepend">
            <button class="btn btn-sm btn-outline-danger xbtn" type="button"(click)="onDelete(CompletedService.formData.homeID)" [mat-dialog-close]><mat-icon>delete</mat-icon></button>
        <button type="button" name="delete" class="btn btn-sm btn-outline-info xbtn" [mat-dialog-close]><mat-icon> power_settings_new </mat-icon></button>
</div>
</div></div>

</form>
