

<div class="jumbotron divmain container" style=" padding: 20px;">
  <div style="text-align: center;">
    <h1>Start working with Elephas!</h1>
    <h2>Select your account here!</h2>
  </div>
  <hr>
  <button (click)="adminLogin()" class="btn alignmnt btn-lg btn-info btn-block" style="width: 200px; margin-right: 300px;"> Admin Login</button>
    <br>
    <div class="row" >  
      <div class="col-md-4" *ngFor="let emp of service.list ;let i=index;" >
        <br>
        <div class="card " class="btn btn-lg btn-info btn-block"  style="background-color: rgb(2, 41, 41);">
        <div class="card-body">        
            <div style="text-align: center;font-size: x-large;">
              {{emp.FirstName}} {{emp.LastName}}
            </div>
         
            </div>
          
             <button (click)="populateForm(emp)"[mat-dialog-close] style="text-align: center; color: rgba(5, 5, 5, 0.986);" class="btn btn-lg btn-info btn-block"> Click here to Login</button>
      
            
          </div>
        
        
        
         </div>
             </div>
         <div style="margin-left: 45%;">
            <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
          </div>
        </div>