

<div class="jumbotron divmain container" style=" padding: 20px;">
  <div style="text-align: center;">
    <h1>Start working with Elephas!</h1>
    <h2>Select your account here!</h2>
  </div>
  <hr>
  <button (click)="adminLogin()" class="btn-sm " style="margin-right: 50%;" [mat-dialog-close]> Admin Login</button>
    <br>
    <div class="row" >  
      <div class="col-md-4" *ngFor="let emp of service.list ;let i=index;" >
        <br>
        <div class="card " style="background-color: rgb(172, 146, 184);" >
        <div class="card-body">        
            <div style="text-align: center; font-weight: bolder ; font-size: x-large;">
              {{emp.FirstName}} {{emp.LastName}}
            </div>
         
            </div>
          
             <button (click)="populateForm(emp)"[mat-dialog-close] style="text-align: center;" > Select to Login</button>
      
            
          </div>
        
        
        
         </div>
             </div>
         <div style="margin-left: 45%;">
            <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
          </div>
        </div>