<br>
<div class="jumbotron divmain container ">
  
    <div class="container">
    <br>
      <hr>
        <h3 class="display-3 text-center">
            Hotel Management
        </h3>
      <hr>
     
        <h1 class="display-4 text-center">
           Add Hotel Details
        </h1>
      

      <div class="row">
          <div class="col-md-7">
             <app-hotel></app-hotel>
          </div>
        </div>
      <hr>
     
    <hr>
          <div class="display-4 text-center h1main">
            <app-hotel-list></app-hotel-list>
          </div>
      </div>
    </div>
    
   
    
   
    
   