
<br>

<button class="card-link btn btn-sm btn-outline-danger ybtn"  style ="margin-left: 45%;" (click)="downloadPDFBtn()">
  Generate Report <mat-icon>save_alt</mat-icon></button><br><br>

<button class="card-link btn btn-sm btn-outline-success ybtn" mat-raised-button style ="margin-left: 45%;" (click)="AddOrEditGuide(null)">
<mat-icon>add_to_photos</mat-icon> Add new
</button>

<br>
<div class="row" > 
      <div class="col-md-6" *ngFor="let guide of service.list " >
        
<br>
<div class="card" style="width: 18rem;" >
  <img class="card-img-top" src="/assets/img/guide.jpg">
  <div class="card-body">
    <!-- <h5 class="card-title">{{emp.EmployeeID}}</h5> -->
    
  </div>
  <ul class="list-group list-group-flush ">
    <!-- <li class="list-group-item" style="color: crimson; font-weight: bold; text-align: center;">{{veh.Brand}} {{veh.Model}}</li> -->
    <li class="btn btn-sm btn-outline-info">{{guide.FirstName}} {{guide.LastName}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.Address}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.ContactNo}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.BirthDay}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.NicNo}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.Email}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.Gender}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.Languages}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.Price}}</li>
    <li class="btn btn-sm btn-outline-info">{{guide.Image}}</li>
    <!-- <li class="list-group-item " style="font-weight: bolder; text-align: center;">Rate : Rs.{{veh.RatePerKM}}/=</li> -->

  </ul>
  <div class="card-body">
 <table class="table">     
   <tr class="table-hover grab tbl1">
    <td><button (click)="populateForm(guide)" class="btn-sm btn-outline-success">Change</button></td><td><button (click)="onDelete(guide.GuideID)" class=" btn-sm btn-outline-danger">delete</button></td>
  </tr>
</table>
  </div>
</div>
<br>
</div>
   </div>

   <br>
   
