<!-- <h1>{{UserName}}</h1> -->


<div style="float: left; background-color: rgb(119, 159, 245); padding-top: 5px;">

  <p style="text-align: center; margin: 5px;">Welcome {{UserName}}</p>

</div>

<div class="jumbotron divmain container ">
  
    <div class="jumbtron">
      <h1 class="display-4 text-center">Famous Destination Management</h1>
      <hr>
      <div class="row">
          <div class="col-md-12">
            <app-destination-list></app-destination-list>
          </div>
      </div>
    </div>
    </div>
   
    
   
    
   