
    <br>
<div class="jumbotron divmain container ">
 
<div class="container">
<br>
  <hr>
  <h1 class="display-4 text-center h1main">
    Add Destination
</h1> 
<hr>
  <div class="row ">

     
    <div class="col-md-14 ">
      <app-destination></app-destination>
          </div>
      </div>
  <hr>
  <h1 class="display-4 text-center h1main">
    Destination List
</h1> 
<hr>

      <div class="row">
        
        <app-destination-list></app-destination-list>
      </div>
   
      </div>
    
  </div>

    
   
    
   