<div class="container bg-dark">
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container ">
      <h1 class="display-4 text-center text-info" >Eliphase Tour Management System</h1>
      <h3 class="display-5 text-center text-info">A product by SLIIT</h3>
    </div>
    
  </div>
<hr class="bg-info">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Eliphase News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="hotel">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee">Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Vehicles">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="guide">Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="destination">Famous Destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Confirmed">Confirmed Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="complete">Completed Tour</a>
        </li>
       
       
      </ul>
    
      
    </div>
   
  </nav>
  
</div>





<router-outlet></router-outlet>
<div class="container bg-dark">
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container ">
        <h1 class="display-4 text-center text-light">Eliphase Tour Management System</h1>
        <h3 class="display-5 text-center text-info">This is our Footer</h3>
        
      
      </div>
      
    </div>
  </div>

    
