<!-- <div class="container bg-dark"> -->
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container ">
      <h1 class="display-4 text-center text-info" >Eliphase Tour Management System</h1>
      <h3 class="display-5 text-center text-info">A product by SLIIT</h3>  
    </div>
  </div>
 <h1>{{UserName}}</h1> 
<hr class="bg-info">
  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="main">Eliphase News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item txtColor txtColor btndiv ">
          <a class="nav-link"  routerLink="home"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="customer">Customers</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="hotel">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="driver">Drivers</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="vehicle">Vehicles</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="guide">Guides</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="destination">Famous Destination</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="confirmed">Confirmed Tour</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="completed">Completed Tour</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="employee">Employees</a>
        </li>
       
      </ul>
      <button class="btn btn-lg txtColor btndiv" (click)="logout()">LogOut</button>
      
    </div>
   
  </nav>
  
<!-- </div> -->





<router-outlet></router-outlet>
<br>
<!-- <div class="container bg-dark"> -->
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container ">
        <h1 class="display-4 text-center text-light">Eliphase Tour Management System</h1>
        <h3 class="display-5 text-center text-info">This is our Footer</h3>
      </div>
      
    </div>
  <!-- </div> -->

    
