<!-- <div class="container bg-dark"> -->
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container ">
      <h1 class="display-4 text-center text-info" >Eliphase Tour Management System</h1>
      <h3 class="display-5 text-center text-info">A product by SLIIT</h3>  
    </div>
  </div>
  <button style=" margin-left: 1200px ;" class="btn btn-lg txtColor btndiv" (click)="logout()">LogOut</button>

  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="main">Eliphase News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div style="margin-top: -15px; margin-bottom: -15px;" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item txtColor txtColor btndiv ">
          <a class="nav-link"  routerLink="home"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="customer"><mat-icon>phone_in_talk</mat-icon> Customer Management</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="hotel"><mat-icon> hotel</mat-icon> Hotel Management</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="driver"><mat-icon>airline_seat_recline_normal</mat-icon> Driver Management</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="vehicle"><mat-icon> directions_car</mat-icon> Vehicle Management</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="guide"><mat-icon>person_outline</mat-icon> Guide Management</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="destination"><mat-icon>mms</mat-icon> Destination Management</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="estimatedTours"><mat-icon>style</mat-icon>Estimated Tour</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="confirmed"><mat-icon>style</mat-icon>Confirmed Tour</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="completed"><mat-icon>style</mat-icon>Completed Tour</a>
        </li>
        <li class="nav-item txtColor txtColor btndiv">
          <a class="nav-link" routerLink="employee"><mat-icon>group</mat-icon> Employee Management (Restricted)</a>
        </li>
       
      </ul>
      
      
    </div>
   
  </nav>
  
<!-- </div> -->





<router-outlet></router-outlet>
<br>
<!-- <div class="container bg-dark"> -->
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container ">
        <h1 class="display-4 text-center text-light">Eliphase Tour Management System</h1>
        <h3 class="display-5 text-center text-info">This is our Footer</h3>
      </div>
      
    </div>
  <!-- </div> -->

    
