.divmain{
    background-color: rgba(166, 202, 226, 0.979);
    border-radius: 0px;
}

#username
{
    color: red;
}

.txtColor:hover{
    cursor: pointer;
    color: white;
    background-color:black;
}

.txtColor{
    color: white;
}