
<!-- A report can be generated regarding table records using this button -->
<!--
  first parameter = id      second paramenter = section         third parameter = type
-->
<button type="button" (click)="downloadRequest(0,1,1)" [disabled] = "service.list.length == 0" class="btn btn-lg btn-info btn-block">Download Table Report as PDF</button>

<!-- using this button I tried to generate a PDF report but this procedure is not suitable for my requirement -->
<!-- <input type="button" id="btnExport" value="Export" onclick="Export()"/> -->


<div class="table-responsive">
<table class="table table-sm table-striped table-bordered" id="tblCustomers">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Nationality</th>
      <th scope="col">Passport #</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">#Days</th>
      <th scope="col">#People</th>
      <th scope="col">#Children</th>
      <th scope="col">Arrival Date</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Star Category</th>
      <th scope="col">Remark</th>
      <th scope="col">Tour Executive</th>
      <th scope="col">Agent Name</th>
      <th scope="col">Exchange Rate</th>
      <th scope="col">Status</th>
      <th scope="col">Operations</th>
      <th scope="col" >
        <a class="btn btn-sm btn-success text-white" (click)="AddOrEditCustomer(null)"><i class="fa fa-plus" aria-hidden="true"></i> ADD</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="service.list.length==0">
      <td class="font-italic text-center" colspan="17">NO RECORDS FOUND</td>
    </tr>

    <tr *ngFor="let cus of service.list; let i=index;">
      <!-- <th scope="row">{{cus.Name}}</th> -->
      <td>{{cus.Name}}</td>
      <td>{{cus.Nationality}}</td>
      <td>{{cus.PassportNo}}</td>
      <td>{{cus.Phone}}</td>
      <td>{{cus.Email}}</td>
      <td>{{cus.NoDays}}</td>
      <td>{{cus.NoPeople}}</td>
      <td>{{cus.NoChildren}}</td>
      <td>{{cus.ArrivalDate}}</td>
      <td>{{cus.DepartureDate}}</td>
      <td>{{cus.StarCategory}}</td>
      <td>{{cus.Remarks}}</td>
      <td>{{cus.TourExecutive}}</td>
      <td>{{cus.AgentName}}</td>
      <td>{{cus.ExchangeRate}}</td>
      <td>{{cus.Status}}</td>
      <td>
        <button (click)="populateForm(cus)" class="btn btn-sm btn-outline-info" matTooltip="click to edit this customer's details"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button (click)="onDelete(cus.ID)" class="btn btn-sm btn-outline-danger ml-2" matTooltip="click to delete this customer"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>

  </tbody>
</table>
</div>

<br>

<div style="text-align: center;">
    <button mat-fab color="white" aria-label="scroll up" matTooltip="click to go up in this page" matTooltipPosition="right" *ngIf="isShow" (click)="gotoTop()">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</div>

<!-- this JS script is used by that above button -  using that button I tried to generate a PDF report but this procedure is not suitable for my requirement -->
<script type="text/javascript">
  function Export() {
      html2canvas(document.getElementById('tblCustomers'), {
          onrendered: function (canvas) {
              var data = canvas.toDataURL();
              var docDefinition = {
                  content: [{
                      image: data,
                      width: 500
                  }]
              };
              pdfMake.createPdf(docDefinition).download("Table.pdf");
          }
      });
  }
</script>
