
<br>
     <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="downloadPDFBtn()">
      Generate Report</button><br><br>

     <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="AddOrEditHotels(null)">
      Add new
    </button>
     <br>
    <div class="row" > 
          <div class="col-md-12" *ngFor="let htl of service.list " >
            
  <br>
  <div class="card" style="width: 30rem;" >
    <div class="bg-dark">
    <hr>
    {{htl.HotelName}}
    <hr>
  </div>
      <div class="card-body">
        <!-- <h5 class="card-title">{{emp.EmployeeID}}</h5> -->
        
      </div>
      <table class="table">  
        <tr class="list-group list-group-flush ">
          <ul >
           
            <li class="btn btn-sm btn-outline-info">{{htl.Address}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.StarClass}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.PhoneNumber}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.Email}}</li>
          </ul>
        </tr>
        <tr class="list-group list-group-flush ">
          <ul>
          
            <li class="btn btn-sm btn-outline-info">{{htl.Single}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.Double}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.Triple}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.Quard}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.King}}</li>
            <li class="btn btn-sm btn-outline-info">{{htl.Queen}}</li>
      
          </ul>
        </tr>
        <tr class="list-group list-group-flush ">
      <ul>
        
        <li class="btn btn-sm btn-outline-info">{{htl.RoomOnly}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.BedAndBreackfast}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.FullBoard}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.HalfBoard}}</li>
  
      </ul>
    </tr>
      </table>
      <div class="card-body">
     <table class="table">     
       <tr class="table-hover grab tbl1">
        <td><button (click)="populateForm(htl)" class="btn-sm btn-outline-success">Change</button></td><td><button (click)="onDelete(htl.HotelID)" class=" btn-sm btn-outline-danger">delete</button></td>
      </tr>
  </table>
      </div>
    </div>
    <br>
  </div>
       </div>

       <br>
       <div style="margin-left: 45%;">
        <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
      </div>

    <!-- <button (click)="genarateReport()">Genarate report</button> -->