
<br>
    <!-- <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Hotel Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Star Class</th>
                  <th scope="col">Single</th>
                  <th scope="col">Meal Plan</th>
                  <th scope="col">Change/<br>Delete</th>
                </tr>
              </thead>
 <tbody>
    <tr *ngFor="let htl of service.list">
        <td class="text-info">{{htl.Hotel Name}}</td>
        <td class="text-info">{{htl.Address}}</td>
        <td class="text-info">{{htl.Phone Number}}</td>
        <td class="text-info">{{htl.E-mail}}</td>
        <td class="text-info">{{htl.Star Class}}</td>
        <td class="text-info">{{htl.Single}}</td>
       
        <td><button (click)="populateForm(htl)" class="btn btn-sm btn-outline-success">Change</button><br><br><button (click)="onDelete(htl.HotelID)" class="btn btn-sm btn-outline-danger">delete</button></td>
        
       
    </tr>
</tbody>

    </table>
    
     -->
     <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="downloadPDFBtn()">
      Generate Report</button><br><br>

     <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="AddOrEditHotels(null)">
      Add new
    </button>
     <br>
    <div class="row" > 
          <div class="col-md-12" *ngFor="let htl of service.list " >
            
  <br>
  <div class="card" style="width: 40rem;" >
      <img class="card-img-top" src="https://static1.squarespace.com/static/5898e29c725e25e7132d5a5a/58aa11bc9656ca13c4524c68/58aa11e99656ca13c45253e2/1487540713345/600x400-Image-Placeholder.jpg?format=original" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">{{emp.EmployeeID}}</h5> -->
        
      </div>
      <ul class="list-group list-group-flush ">
        <!-- <li class="list-group-item" style="color: crimson; font-weight: bold; text-align: center;">{{veh.Brand}} {{veh.Model}}</li> -->
        <li class="btn btn-sm btn-outline-info">{{htl.HotelName}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Address}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.PhoneNumber}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Email}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.StarClass}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Single}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Double}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Triple}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Quard}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.King}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Queen}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.RoomOnly}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.BedAndBreackfast}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.FullBoard}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.HalfBoard}}</li>
        <li class="btn btn-sm btn-outline-info">{{htl.Image}}</li>
        <!-- <li class="list-group-item " style="font-weight: bolder; text-align: center;">Rate : Rs.{{veh.RatePerKM}}/=</li> -->
  
      </ul>
      <div class="card-body">
     <table class="table">     
       <tr class="table-hover grab tbl1">
        <td><button (click)="populateForm(htl)" class="btn-sm btn-outline-success">Change</button></td><td><button (click)="onDelete(htl.HotelID)" class=" btn-sm btn-outline-danger">delete</button></td>
      </tr>
  </table>
      </div>
    </div>
    <br>
  </div>
       </div>

       <br>
       <div style="margin-left: 45%;">
        <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
      </div>

    <!-- <button (click)="genarateReport()">Genarate report</button> -->