<h3 class="display-5 text-center">Add Guide Details</h3>

<form #form="ngForm"  autocomplete="off">
    <input type="hidden" name="GuideID">
    <div class="form-gorup">
        <label class="text-info">Full Name:</label>
        <input name="FullName">
    </div>

    <div class="form-gorup">
        <label class="text-info">Address</label>
        <input  name="Address">
    </div>

    <div class="form-gorup">
        <label class="text-info">Birth Day</label>
        <input type="date" name="BirthDay">
    </div>

    <div class="form-gorup">
        <label class="text-info">NIC NO:</label>
        <input name="NicNo">
    </div>

    <div class="form-gorup">
        <label class="text-info">E-mail:</label>
        <input type="email" name="Email">
    </div>

    <div class="form-gorup">
        <label class="text-info">Contact Number:</label>
        <input type="number" name="Contact">
    </div>
   <br>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block">Submit</button>
    </div>
</form>
