.BTNNEW{

    font-size: large;
    width: 100px;
    background-color: rgb(43, 157, 233);
    float: center;
    color: white;

}

.BTNNEW:hover{
    font-size: larger;
    background-color: rgb(78, 66, 241);
    color: black;
}

.btndiv{
    margin-left: 26%;
}
.close:hover{
    color: red;
}

.close{
    font-size: larger;
    width: 50px;
    float: center;

}