.BTNNEW{

    font-size: large;
    width: 100px;
    background-color: rgb(43, 157, 233);
    float: center;
    color: white;

}

.BTNNEW:hover{
    font-size: larger;
    background-color: rgb(78, 66, 241);
    color: black;
}

.btndiv{
    margin-left: 26%;
}
.close:hover{
    color: red;
}

.close{
    font-size: larger;
    width: 50px;
    float: center;

}




//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0, 201, 157)!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(7, 184, 207)!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: rgb(145, 9, 9)!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: rgb(0, 183, 255)!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: rgb(107, 18, 18)!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(2, 146, 146, 0.6)!important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: red!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

dialog::backdrop {
    background: rgba(218, 5, 5, 0.5);
  }
  