


<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">  
    <button type="button" class="btn btn-lg btn-block close  " [mat-dialog-close]><mat-icon>cancel</mat-icon></button>
    <input type="hidden" name="VehicleID" #VehicleID="ngModel" [(ngModel)]="service.formData.VehicleID">
        <div class="form-group">
            
     <br>
     <br>
    <div class="row"> 
    <div class="col-md-6">
    
    
    <div class="row"> 
        <div class="col-md-6">
        <div class="form-group">
            <label>Vehicle Number </label>
            <input name="VehicleNo" #VehicleNo="ngModel" [(ngModel)]="service.formData.VehicleNo" class="form-control" required >
            <div class="validation-error" *ngIf="VehicleNo.invalid && VehicleNo.touched">Required</div>
        </div> </div>
        
    
        <div class="col-md-6">
        <div class="form-group ">
            <label>Brand</label>
            <input name="Brand" #Brand="ngModel" [(ngModel)]="service.formData.Brand" class="form-control" required>
            <div class="validation-error" *ngIf="Brand.invalid && Brand.touched">Required</div>
        </div>
    
        </div>
    </div>
    
        
    
    
    <div class="row"> 
        <div class="col-md-6">
        <div class="form-group">
            <label>Model</label>
             <input name="Model" #Model="ngModel" [(ngModel)]="service.formData.Model" class="form-control" required>
             <div class="validation-error" *ngIf="Model.invalid && Model.touched">Required</div>
        </div> </div>
       
        <div class="col-md-6">
        <div class="form-group">
             <label>Registration Number</label>
            <input name="RegistrationNo" #RegistrationNo="ngModel" [(ngModel)]="service.formData.RegistrationNo" class="form-control" required>
            <div class="validation-error" *ngIf="RegistrationNo.invalid && RegistrationNo.touched">Required</div>
        </div></div>
    </div>  
    
    
    
    <div class="row"> 
        <div class="col-md-6">
        <div class="form-group">
            <label>Manufactured year</label>
            <input name="ManuYr" type="number"  placeholder="2XXX" #ManuYr="ngModel" min="2000" [(ngModel)]="service.formData.ManuYr" class="form-control" required>
            <div class="validation-error" *ngIf="ManuYr.invalid && ManuYr.touched">Required</div>
       </div></div>
       <div class="col-md-6">
       <div class="form-group">
            <label>Number of seats</label>
            <input name="NoOfSeats" type="number"  min="1"#NoOfSeats="ngModel" [(ngModel)]="service.formData.NoOfSeats" class="form-control" required>
            <div class="validation-error" *ngIf="NoOfSeats.invalid && NoOfSeats.touched">Required</div>
        </div></div>
    </div>
   
    <div class="row"> 
        <div class="col-md-6">
        <div class="form-group">
            <label>Upload a Picture</label>
            <img [src]="imageUrl"  style="width:150 px; height:100px">
            <input type="file"  #Image accept="image/*" (change)="handleFileInput($event.target.files)">
       </div></div>
    </div>
    
    </div>
    
    
    
        <div class="col-md-6">
            <div class="row"> 
                <div class="col">  
        <div class="form-group">
            <label>Owner's name</label>
            <input name="OwnersName" #OwnersName="ngModel" [(ngModel)]="service.formData.OwnersName" class="form-control" required>
            <div class="validation-error" *ngIf="OwnersName.invalid && OwnersName.touched">Required</div>
        
        </div></div></div>
    
    
    
    
    
     <div class="row"> 
        <div class="col-md-6">
        <div class="form-group">
            <label>Owner's ID number</label>
            <input name="OwneresID" #OwneresID="ngModel"  placeholder="ID number with 10 values" minlength="10" [(ngModel)]="service.formData.OwneresID" class="form-control" required>
            <div class="validation-error" *ngIf="OwneresID.invalid && OwneresID.touched">Required</div>
        </div></div>
    
        <div class="col-md-6">
        <div class="form-group">
            <label>Owner's contact number</label>
            <input name="OwnersContact" placeholder="0XXXXXXXXX"   #OwnersContact="ngModel"  type="tel" pattern="[0-9]{10}" [(ngModel)]="service.formData.OwnersContact" class="form-control" required>
            <div class="validation-error" *ngIf="OwnersContact.invalid && OwnersContact.touched ">Required </div>
          
        </div></div>
    </div>
    
    
    <div class="row"> 
        <div class="col-md-6">
        <div class="form-group">
            <label>Veihcle insuarnce number</label>
            <input name="VehicleInsuaranceNo" #VehicleInsuaranceNo="ngModel" [(ngModel)]="service.formData.VehicleInsuaranceNo" class="form-control"required>
            <div class="validation-error" *ngIf="VehicleInsuaranceNo.invalid && VehicleInsuaranceNo.touched">Required</div>
        </div></div>
        <div class="col-md-6">
        <div class="form-group">
            <label>Rate per Kilo meter</label>
            <input name="RatePerKM" #RatePerKM="ngModel"type="number" [(ngModel)]="service.formData.RatePerKM" class="form-control"required>
            <div class="validation-error" *ngIf="RatePerKM.invalid && RatePerKM.touched">Required</div>
        </div></div>
    </div>
    </div>
    </div>
    
    
    <div class="form-group btndiv">
        <br>
        <div>
     
            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.VehicleID==null;"> Insert</button>
            <button type="button" (click)="updateRecord(form)" [disabled]="form.invalid" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.VehicleID!=null;"> save</button>
          

                <!-- <button type="button" class="btn btn-lg btn-block close  " [mat-dialog-close]><mat-icon>cancel</mat-icon></button> -->
    

        
    </div>
    </div>
    </div>
    </form>
   