


<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">  
   
    <button type="button" class="btn btn-lg btn-block close  " [mat-dialog-close]><mat-icon>cancel</mat-icon></button>
    
    <input type="hidden" name="VehicleID" #VehicleID="ngModel" [(ngModel)]="service.formData.VehicleID">
    <div class="form-group">
            
     <br>
     <br>
    
<div class="row"> 
<div class="col-md-6">
    
    <div class="form-row"> 
        
        <div class="col-md-6">
        <div class="form-group">

              <mat-form-field appearance="fill">
                <mat-label>Vehicle number</mat-label>
                <input name="VehicleNo" #VehicleNo="ngModel" matInput placeholder="xx XXX 0000" [(ngModel)]="service.formData.VehicleNo" required>
                <mat-error *ngIf="VehicleNo.invalid && VehicleNo.touched">This field is required</mat-error>
              </mat-form-field>

        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group ">

            <mat-form-field appearance="fill">
                <mat-label>Select vehicle brand</mat-label>
                <mat-select name="Brand" #Brand="ngModel" [(ngModel)]="service.formData.Brand" required>
                    <mat-option value="BMW">BMW</mat-option>
                    <mat-option value="Daihatsu">Daihatsu</mat-option>
                    <mat-option value="Fiat">Fiat</mat-option>
                    <mat-option value="Honda">Honda</mat-option>
                    <mat-option value="Isuzu">Isuzu</mat-option>
                    <mat-option value="Land rover">Land rover</mat-option>
                    <mat-option value="Leyland">Leyland</mat-option>
                    <mat-option value="Mercedeze">Mercedeze</mat-option>
                    <mat-option value="Micro">Micro</mat-option>
                    <mat-option value="Nissan">Nissan</mat-option>
                    <mat-option value="Suzuki">Suzuki</mat-option>
                    <mat-option value="Tata">Tata</mat-option>
                    <mat-option value="Toyota">Toyota</mat-option>
                   <mat-option value="Other">Other</mat-option>

                </mat-select>
                <mat-error *ngIf="Brand.invalid && Brand.touched">This field is required</mat-error>
              </mat-form-field>

        </div>
        </div>

    </div>
    
        
    
    
    <div class="row"> 

        <div class="col-md-6">
        <div class="form-group">

            <mat-form-field appearance="fill">
                <mat-label>Model</mat-label>
                <input name="Model" #Model="ngModel" [(ngModel)]="service.formData.Model"  matInput placeholder="enter the model"  required>
                <mat-error *ngIf="Model.invalid && Model.touched">This field is required</mat-error>
              </mat-form-field>

        </div> 
        </div>
       
        <div class="col-md-6">
        <div class="form-group">


            <mat-form-field appearance="fill">
                <mat-label>Registration Number</mat-label>
                <input name="RegistrationNo" #RegistrationNo="ngModel" matInput placeholder="enter the registration number" [(ngModel)]="service.formData.RegistrationNo" required>
                <mat-error  *ngIf="RegistrationNo.invalid && RegistrationNo.touched">This field is required</mat-error>
              </mat-form-field>

        </div>
        </div>


    </div>  
    
    
    
    <div class="row"> 

        <div class="col-md-6">
        <div class="form-group">


            <mat-form-field appearance="fill">
                <mat-label>Manufactured year</mat-label>
                <input  name="ManuYr"  type="number" minlength="4" maxlength="4" #ManuYr="ngModel" matInput min="2000" max=currentYear placeholder="enter the Manufactured year" [(ngModel)]="service.formData.ManuYr" required>
                <mat-error  *ngIf="ManuYr.invalid && ManuYr.dirty">Year can be only between 2000 to present </mat-error>
                <mat-error  *ngIf="ManuYr.touched">This field is required</mat-error>
     </mat-form-field>

       </div>
       </div>


       <div class="col-md-6">
       <div class="form-group">


        <mat-form-field appearance="fill">
            <mat-label>MNumber of seats</mat-label>
            <input  name="NoOfSeats" min="4" type="number"  #NoOfSeats="ngModel" matInput placeholder="enter the no. Of Seats" [(ngModel)]="service.formData.NoOfSeats" required>
            <mat-error  *ngIf="NoOfSeats.invalid && NoOfSeats.touched">This field is required, Minimum 4 seats </mat-error>
          </mat-form-field>

        </div>
        </div>

    </div>
   
    <div class="row"> 

       <div class="col-md-6">

        <mat-form-field appearance="fill">
            <mat-label>Select vehicle Category</mat-label>
            <mat-select name="category" #category="ngModel" [(ngModel)]="service.formData.category" required>
                <mat-option value="car">car</mat-option>
                <mat-option value="van">van</mat-option>
                <mat-option value="SUV">SUV</mat-option>
                <mat-option value="bus">bus</mat-option>
                <mat-option value="other">other</mat-option>
            </mat-select>
            <mat-error *ngIf="category.invalid && category.touched">This field is required</mat-error>
          </mat-form-field>

       </div>
    </div>

</div>
     
    <div class="col-md-6">

        <div class="row">

        <div class="col-md-6">
        <div class="form-group">
          
            <mat-form-field style="width: 425px;" appearance="fill">
                <mat-label>Owner's name</mat-label>
                <input  name="OwnersName"  #OwnersName="ngModel" matInput placeholder="enter the Owners Name" [(ngModel)]="service.formData.OwnersName" required>
                <mat-error  *ngIf="OwnersName.invalid && OwnersName.touched">This field is required</mat-error>
              </mat-form-field>

        </div>
        </div>

        </div>

     <div class="row"> 
      
        <div class="col-md-6">
        <div class="form-group">
          

            <mat-form-field appearance="fill">
                <mat-label>Owner's ID number</mat-label>
                <input  name="OwneresID"  #OwneresID="ngModel" minlength="10" maxlength="12" matInput placeholder="enter the Owner's ID number" [(ngModel)]="service.formData.OwneresID" required>
                <mat-error  *ngIf="OwneresID.invalid && OwneresID.dirty">Invalid ID number</mat-error>
                <mat-error  *ngIf="OwneresID.touched">This field is required</mat-error>

            </mat-form-field>

        </div>
        </div>
    
        <div class="col-md-6">
        <div class="form-group">
           
            <mat-form-field appearance="fill">
                <mat-label>Owner's contact number</mat-label>
                <input  name="OwnersContact"   pattern="^[0]{1}[0-9]{9}" maxlength="10" minlength="10"  #OwnersContact="ngModel" matInput placeholder="enter the Owner's contact number" [(ngModel)]="service.formData.OwnersContact" required>
                <mat-error  *ngIf="OwnersContact.invalid && OwnersContact.dirty ">Incorrect phone number</mat-error>
                <mat-error  *ngIf="OwnersContact.touched">This field is required</mat-error>

            </mat-form-field>      
            
        </div>
        </div>

    </div>
    
    
    <div class="row"> 

        <div class="col-md-6">
        <div class="form-group">

           <mat-form-field appearance="fill">
                <mat-label>Veihcle insuarnce number</mat-label>
                <input  name="VehicleInsuaranceNo"  #VehicleInsuaranceNo="ngModel" matInput placeholder="enter the Veihcle insuarnce number" [(ngModel)]="service.formData.VehicleInsuaranceNo" required>
                <mat-error  *ngIf="VehicleInsuaranceNo.invalid && VehicleInsuaranceNo.touched">This field is required</mat-error>
            </mat-form-field>   
          
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">

            <mat-form-field appearance="fill">
                <mat-label>Rate per Kilo meterr</mat-label>
                <input  name="RatePerKM"   type="number"  #RatePerKM="ngModel" matInput placeholder="enter the Rate per Kilo meter" [(ngModel)]="service.formData.RatePerKM" required>
                <mat-error  *ngIf="RatePerKM.invalid && RatePerKM.touched">This field is required,Only numbers are valid</mat-error>
            </mat-form-field>   

        </div>
        </div>

    </div>
    </div>

</div>
    
    
    <div class="form-group btndiv">
        <br>
        <div>
     
            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.VehicleID==null;"> Insert</button>
            <button type="button" (click)="fillForm()" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.VehicleID==null;" > demo</button>
            <button type="button" (click)="updateRecord(form)" [disabled]="form.invalid" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.VehicleID!=null;"> save</button>
           

                <!-- <button type="button" class="btn btn-lg btn-block close  " [mat-dialog-close]><mat-icon>cancel</mat-icon></button> -->
    

        
    </div>
    </div>
    </div>
    </form>
   