

<button class="card-link btn btn-sm btn-outline-danger ybtn"  style ="margin-left: 45%;" (click)="downloadPDFBtn()">
      Generate Report <mat-icon>save_alt</mat-icon></button><br><br>

<div class="search-div">
  <div class="row">
    <!-- <button class="card-link btn btn-sm btn-outline-success ybtn" mat-raised-button style ="margin-left: 45%;" (click)="AddOrEditEmployees(null)">
      <mat-icon>add_to_photos</mat-icon> Add new
    </button> -->

    <button class="card-link btn btn-sm btn-outline-success ybtn" mat-raised-button (click)="AddOrEditEmployees(null)">
      <mat-icon>add_to_photos</mat-icon> Add new
    </button>

    <div class="search-form-field" style="width: 925px;">
      <input matInput type="search" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching">
    </div>
  </div>
</div>

    <br>
    <div class="row" #content> 
          <div class="col-md-4" *ngFor="let emp of service.list | filter:searchText | paginate: {itemsPerPage:6, currentPage: pageActual}; let i=index" >
            
  <br>
  <div class="card bg-dark" style="width: 20rem;" >
      <img class="card-img-top" src="/assets/img/img.jpg">
      <div class="card-body">
        <h5 id="h5list" class="card-title">Employee Id : {{emp.EmployeeID}}</h5>
        
      </div>
      <ul class="list-group list-group-flush ">

        <h1  class="Name bg-success">{{emp.FirstName}}
        <br>{{emp.LastName}}</h1>
        <!-- <li class="btn-sm btn-outline-success"><h3>Full Name: <h1> {{emp.FirstName}} {{emp.LastName}}</h1></h3> </li> -->
        <ul class="btn-sm btn-outline-info">Address: {{emp.Address}}</ul>
        <ul class="btn-sm btn-outline-info">Contact: {{emp.Contact}}</ul>
        <ul class="btn-sm btn-outline-info">Birth Day: {{emp.BirthDay}}</ul>
        <ul class="btn-sm btn-outline-info">Nic No: {{emp.NicNo}}</ul>
        <ul class="btn-sm btn-outline-info">Email: {{emp.Email}}</ul>
       
      </ul>
      <div class="card-body">
            <button style="margin-left: 30px;" (click)="populateForm(emp)" class="card-link btn btn-sm btn-outline-success ybtn" matTooltip="click to edit this employee's details"> <mat-icon>open_in_new</mat-icon></button>
            <button style="margin-left: 100px;" class="btn btn-sm btn-outline-danger xbtn" (click)="onDelete(emp.EmployeeID)" matTooltip="click to delete this employee"><mat-icon>delete</mat-icon></button>   
      </div>
    </div>
    <br>
  </div>
       </div>

       <hr>
      <div style="text-align: center;">
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
      <hr>
       <br>

       <div style="margin-left: 45%;">
        <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
      </div>


       <!-- <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="downloadPDF()">
        Export to PDF</button><br><br>

       <button class="btn btn-primary btn-lg addbtn" mat-raised-button style ="margin-left: 45%;" (click)="AddOrEditEmployees(null)">
        <mat-icon>add_box</mat-icon>Add new
      </button>
      
      <br>
      <hr>
      
        
        <br>
           <div class="row" #content>  
              <div class="col-md-4" *ngFor="let emp of service.list ;let i=index;" >
      <br>
      <div class="card" style="width: 20rem;" >
          <img class="card-img-top" src="https://static1.squarespace.com/static/5898e29c725e25e7132d5a5a/58aa11bc9656ca13c4524c68/58aa11e99656ca13c45253e2/1487540713345/600x400-Image-Placeholder.jpg?format=original" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{emp.EmployeeID}}</h5>
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="color: crimson; font-weight: bold; text-align: center;">{{emp.FirstName}} {{emp.LastName}}</li>
            <li class="list-group-item">Address: {{emp.Address}}</li>
            <li class="list-group-item">Phone Number: {{emp.Contact}}</li>
            <li class="list-group-item " style="font-weight: bolder; text-align: center;">Email: {{emp.Email}}</li>
      
          </ul>
          <div class="card-body">
         <table class="table">     
           <tr class="table-hover grab tbl1">
           <button (click)="populateForm(emp)" class="card-link btn btn-sm btn-outline -danger ybtn"> <mat-icon>open_in_new</mat-icon></button>
           <button class="btn btn-sm btn-outline -danger xbtn" (click)="onDelete(emp.EmployeeID)"><mat-icon>delete</mat-icon></button></tr>
          
      </table>
          </div>
        </div>
      
      
      
       </div>
           </div>
       <div style="margin-left: 45%;">
          <button style="text-align: center; margin-top: 20px;" *ngIf="isShow" (click)="gotoTop()">SCROLL TOP</button>
        </div> -->