.tbl1:hover{
    background-color: rgba(255, 255, 255, 0.527);
    font-weight: bolder;

    border: 1px solid;
    padding: 20px;
    box-shadow: 3px 6px #212e42fa;
}

.grab {cursor: -webkit-grab; cursor: grab;}


noHover:hover{
    border: 1px;
    padding: 10px;
    

}

#h5list{
    color: whitesmoke;
}

.topMrgin{
    margin-top: 50px;
}


.no-drop {
    cursor: no-drop;
    font-weight: bold;
    color: white;
}

td{
    text-align: center;
}

.tdclr{
    color: mediumblue;
}


.xbtn{
    color: rgb(245, 245, 245);
    font-weight: bolder;
    background-color: rgb(71, 78, 107);
}

.xbtn:hover{
    font-size: larger;
    background-color: rgb(230, 27, 27);
}

.firstrow{
    background-color: rgb(48, 71, 78);
    color: white;
}

.Name{

    text-align: center;
}