.tbl1:hover{
    background-color: rgba(255, 255, 255, 0.527);
    font-weight: bolder;

    border: 1px solid;
    padding: 20px;
    box-shadow: 3px 6px #212e42fa;
}

.grab {cursor: -webkit-grab; cursor: grab;}


noHover:hover{
    border: 1px;
    padding: 10px;
    

}

#h5list{
    color: whitesmoke;
}

.topMrgin{
    margin-top: 50px;
}


.no-drop {
    cursor: no-drop;
    font-weight: bold;
    color: white;
}

td{
    text-align: center;
}

.tdclr{
    color: mediumblue;
}


.xbtn{
    color: rgb(245, 245, 245);
    font-weight: bolder;
    background-color: rgb(71, 78, 107);
}

.xbtn:hover{
    font-size: larger;
    background-color: rgb(230, 27, 27);
}

.firstrow{
    background-color: rgb(48, 71, 78);
    color: white;
}

.Name{

    text-align: center;
}

.button-row button {
    margin: 5px;
}

.search-div{
    margin: 10px;
      }
      .search-clear-button{
          width: 10px;
      }
      .search-form-field{
          width: 60%;
          margin-left: 10px;
          padding: 5px 10px;
          background-color: #f5f5f5;
          border-radius: 5px;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }

input[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
}