<br>

<br>
<br>
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="HotelID" #HotelID="ngModel" [(ngModel)]="service.formData.HotelID">
  
  <div class="row">
    <div class="col-md-5">
      <button matTooltip="fill the form with sample data" type="button" class="card-link btn btn-sm btn-outline-success ybtn" (click)="demo()" *ngIf="service.formData.HotelID==null;">Demo</button>
    </div>
    <!-- <h3><strong>Add New Hotel</strong></h3> -->
    <div style="text-align: center;">
      <h1><strong>{{!service.formData.HotelID ?  'New Hotel' : 'Update Hotel'}}</strong></h1>
      <br>
    </div>
    <hr>
  </div>  

  <!-- <div class="input-group mb-3 ">
     
      <img [src]="imageUrl"  style="width:1000px;height:300px  class=center">
    
      <input type="file" name="Image" #Image accept="image/*" (change)="handleFileInput($event.target.files)" #Image="ngModel" [(ngModel)]="service.formData.Image" >  
  </div> -->

  <div class="row">

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Hotel Name</mat-label>
        <input matInput required name="HotelName" #HotelName="ngModel" [(ngModel)]="service.formData.HotelName">
        <mat-error *ngIf="HotelName.invalid && HotelName.touched">This field required</mat-error>
      </mat-form-field>

        <!-- <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Hotel Name</span>
        </div >
        <input required name="HotelName" #HotelName="ngModel" [(ngModel)]="service.formData.HotelName" class="form-control">
        <div class="validation-error"*ngIf="HotelName.invalid && HotelName.touched" >This field required</div> -->
    </div>


  
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput required name="Address" #Address="ngModel" [(ngModel)]="service.formData.Address">
        <mat-error *ngIf="Address.invalid && Address.touched">This field required</mat-error>
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Address</span>
      </div>
      <input required name="Address" #Address="ngModel" [(ngModel)]="service.formData.Address" class="form-control">
      <div class="validation-error"*ngIf="Address.invalid && Address.touched" >This field required</div> -->
    </div>


    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput required type="number" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="service.formData.PhoneNumber">
        <mat-error *ngIf="PhoneNumber.invalid && PhoneNumber.touched">This field required</mat-error>
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Phone Number</span>
      </div>
      <input required type="number" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="service.formData.PhoneNumber" class="form-control">
      <div class="validation-error"*ngIf="PhoneNumber.invalid && PhoneNumber.touched" >This field required</div> -->
    </div>

   

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required type="email" email name="Email" #email="ngModel" [(ngModel)]="service.formData.Email">
        <mat-error *ngIf="email.invalid && email.touched">This field required</mat-error>
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Email</span>
      </div>
      <input required type="email" email name="Email" #email="ngModel" [(ngModel)]="service.formData.Email" class="form-control">
      <div class="validation-error"*ngIf="email.invalid && email.touched" >This field required</div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Star Class</mat-label>
        <input matInput required type="number" name="StarClass" #StarClass="ngModel" [(ngModel)]="service.formData.StarClass">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Star Class</span>
      </div>
      <input required type="number" name="StarClass" #StarClass="ngModel" [(ngModel)]="service.formData.StarClass" class="form-control"> -->
    </div>
  </div>

  <hr>
  <!-- </div> -->
  <div class="row">
    <hr>
    <h3 class="text-left">
      <strong>RoomCategories</strong>
    </h3>
    <hr>
  </div>  

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Single</mat-label>
        <input matInput required  name="Single" #Single="ngModel" [(ngModel)]="service.formData.Single">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Single</span>
      </div>
      <input required  name="Single" #Single="ngModel" [(ngModel)]="service.formData.Single" class="form-control"> -->
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Double</mat-label>
        <input matInput required  name="Double" #Double="ngModel" [(ngModel)]="service.formData.Double">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Double</span>
      </div>
      <input required  name="Double" #Double="ngModel" [(ngModel)]="service.formData.Double" class="form-control"> -->
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Triple</mat-label>
        <input matInput required  name="Triple" #Triple="ngModel" [(ngModel)]="service.formData.Triple">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Triple</span>
      </div>
      <input required  name="Triple" #Triple="ngModel" [(ngModel)]="service.formData.Triple" class="form-control"> -->
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Quard</mat-label>
        <input matInput required  name="Quard" #Quard="ngModel" [(ngModel)]="service.formData.Quard">
      </mat-form-field>
      
      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Quard</span>
      </div>
      <input required  name="Quard" #Quard="ngModel" [(ngModel)]="service.formData.Quard" class="form-control"> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>King</mat-label>
        <input matInput required  name="King" #King="ngModel" [(ngModel)]="service.formData.King">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">King</span>
      </div>
      <input required  name="King" #King="ngModel" [(ngModel)]="service.formData.King" class="form-control"> -->
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Queen</mat-label>
        <input matInput required  name="Queen" #Quard="ngModel" [(ngModel)]="service.formData.Queen">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Queen</span>
      </div>
      <input required  name="Queen" #Quard="ngModel" [(ngModel)]="service.formData.Queen" class="form-control"> -->
    </div>
  </div>  

  <hr>
  <div class="row">
    <hr>
    <h3 class="text-left">
    <strong>MealPlan</strong>
    </h3>
    <hr>
  </div>  

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Room Only</mat-label>
        <input matInput required  name="RoomOnly" #RoomOnly="ngModel" [(ngModel)]="service.formData.RoomOnly">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Room Only</span>
      </div>
      <input required  name="RoomOnly" #RoomOnly="ngModel" [(ngModel)]="service.formData.RoomOnly" class="form-control">      -->
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Bed And Breackfast</mat-label>
        <input matInput required  name="BedAndBreackfast" #BedandBreackfast="ngModel" [(ngModel)]="service.formData.BedAndBreackfast">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Bed And Breackfast</span>
      </div>
      <input required  name="BedAndBreackfast" #BedandBreackfast="ngModel" [(ngModel)]="service.formData.BedAndBreackfast" class="form-control">      -->
    </div>
    
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Full Board</mat-label>
        <input matInput required  name="FullBoard" #FullBoard="ngModel" [(ngModel)]="service.formData.FullBoard">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Full Board</span>
      </div>
      <input required  name="FullBoard" #FullBoard="ngModel" [(ngModel)]="service.formData.FullBoard" class="form-control">      -->
    </div>

    
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Half Board</mat-label>
        <input matInput required  name="HalfBoard" #HalfBoard="ngModel" [(ngModel)]="service.formData.HalfBoard">
      </mat-form-field>

      <!-- <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Half Board</span>
      </div>
      <input required  name="HalfBoard" #HalfBoard="ngModel" [(ngModel)]="service.formData.HalfBoard" class="form-control">      -->
    </div>
  </div>  


    
 <br>

  <div class="form-group row">
    <div class="col-md-6">
      <button type="button" class="card-link btn btn-sm btn-outline-danger ybtn" [mat-dialog-close]>CLOSE</button>
    </div>
    <div class="col-md-4">
      <div class="input-group-prepend">
        <button type="submit" [disabled]="form.invalid" class="card-link btn btn-sm btn-outline-info ybtn" style="margin-left: 30px;" *ngIf="service.formData.HotelID==null;"> <mat-icon> send</mat-icon></button>
        <button type="button" (click)="updateRecord(form)" [disabled]="form.invalid" class="card-link btn btn-sm btn-outline-info ybtn" style="margin-left: 30px;" *ngIf="service.formData.HotelID!=null;"> save</button>
      </div>
    </div>
      <!-- <button type="button" class="card-link btn btn-sm btn-outline-danger ybtn" [mat-dialog-close]>CLOSE</button> -->
  </div>

  
  

</form>
