<p>login works!</p>


<form  autocomplete="off">

    


     
        <div class="col-md-12">
          <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">User Name</span>
        
        <input required pattern="^[A-Z]+[a-z]+$"  name="FirstName" class="form-control">
     
    </div>
  </div >
  <br><br>
  <div class="col-md-12">
    <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Password</span>
      
      <input required pattern="^[A-Z]+[a-z]+$"  name="LastName" class="form-control">
      
      </div >
  </div>
<br><br>

      
        <div class="col-md-12">
          <div class="input-group-prepend">
        <button type="submit"class="btn btn-lg btn-block BTNNEW btndiv">Login</button>
     
      </div></div>


        <div class="col-md-12">
          <div class="input-group-prepend">
      
        <button type="button" class="btn btn-lg btn-block BTNNEW btndiv" >CLOSE</button>
</div>
</div>
</form>
