

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="service.formData.EmployeeID">
    
      <div class="row">
        <div class="col-md-12">
          <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">User Name</span>
        
        <input required pattern="^[A-Z]+[a-z]+$"  name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control">
        <div class="validation-error"*ngIf="FirstName.errors &&  FirstName.errors.required && FirstName.touched" >This field required</div>
        <div class="validation-error"*ngIf="FirstName.invalid && FirstName.touched"  >Invalid Name (Only First Letter shuold be Upercase)</div>
    </div>
  </div >
      </div>
      <div class="row">
  <div class="col-md-12">
    <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Password Name</span>
      
      <input required pattern="^[A-Z]+[a-z]+$" type="password" name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control">
      <div class="validation-error"*ngIf="LastName.errors &&  LastName.errors.required && LastName.touched" >This field required</div>
        <div class="validation-error"*ngIf="LastName.invalid && LastName.touched"  >Invalid Name (Only First Letter shuold be Upercase)</div>
      </div >
  </div>
</div>

    
     
      <div class="row">
        <div class="col-md-12">
          <div class="input-group-prepend">
        <button type="button" (click)="updateRecord(form)" [disabled]="form.invalid" class="btn btn-lg btn-block BTNNEW btndiv" *ngIf="service.formData.EmployeeID!=null;"> Login</button>
      </div></div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="input-group-prepend">
      
        <button type="button" class="btn btn-lg btn-block BTNNEW btndiv" [mat-dialog-close]>CLOSE</button>
</div>
</div>
    </div>
</form>
