
<div >
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="service.formData.EmployeeID">
    
      <div class="row">
        <div class="col-md-12">
          <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">User Name</span>
        
        <input   name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control" disabled>
        <div class="validation-error"*ngIf="FirstName.errors &&  FirstName.errors.required && FirstName.touched" >This field required</div>
    </div>
  </div >
      </div>
      <br>
      <div class="row">
  <div class="col-md-12">
    <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Password</span>
      <input  type="password" name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password" class="form-control">
      </div >
  </div>
</div>

    
     <br><br>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group-prepend">
            <button (click)="backToUserList()" style="margin-left: 30px;" class="card-link btn btn-sm btn-outline-success ybtn" [mat-dialog-close]><mat-icon>chevron_left</mat-icon> Back</button>
      </div></div>
      <div class="col-md-6">
        <button type="button" (click)="updateRecord(form)" style="margin-left: 30px;" class="card-link btn btn-sm btn-outline-info ybtn" ><mat-icon> person_pin</mat-icon>Login</button>
    </div>
    </div>
</form>
</div>