

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="service.formData.EmployeeID">
    

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Image</span>
        </div>
        <input type="file"  name="Image"  class="form-control" >
        
      </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">First Name</span>
        </div >
        <input required  name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control">
        <div class="validation-error"*ngIf="FirstName.invalid && FirstName.touched" >This field required</div>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="basic-addon1">Last Name</span>
      </div >
      <input required  name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control">
      <div class="validation-error"*ngIf="LastName.invalid && LastName.touched" >This field required</div>
  </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Address</span>
        </div>
        <input required name="Address" #Address="ngModel" [(ngModel)]="service.formData.Address" class="form-control">
        <div class="validation-error"*ngIf="Address.invalid && Address.touched" >This field required</div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Birth Day</span>
        </div>
        <input required type="date" name="BirthDay" #BirthDay="ngModel" [(ngModel)]="service.formData.BirthDay" class="form-control">
        <div class="validation-error"*ngIf="BirthDay.invalid && BirthDay.touched" >This field required</div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Nic No</span>
        </div>
        <input required name="NicNo" #NicNo="ngModel" [(ngModel)]="service.formData.NicNo" class="form-control">
        <div class="validation-error"*ngIf="NicNo.invalid && NicNo.touched" >This field required</div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Email</span>
        </div>
        <input required type="email" name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control">
        <div class="validation-error"*ngIf="Email.invalid && Email.touched" >This field required</div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white" id="basic-addon1">Contact</span>
        </div>
        <input required type="number" name="Contact" #Contact="ngModel" [(ngModel)]="service.formData.Contact" class="form-control">
        <div class="validation-error"*ngIf="Contact.invalid && Contact.touched" >This field required</div>
      </div>

   <br>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block">Submit</button>
    </div>
</form>
