#div1
{
    border: 1px solid black;
}

#div2
{
    border: 3px solid black;
    margin: 10px;
}

#btn
{
    background-color: green
}

#total
{
    color:red;
    background-color: green;
    text-align: center;
}
#total1
{
    color:red;
    background-color: green;
    text-align: center;
}