

    <br>
    <div class="jumbotron divmain container ">

      <div class="container-fluid">
          <!-- getting information / SECTION 1 starts here --> <!-- Customer Details section is here -->
          <h3>Customer & Tour Details Gathering - dhanusha perera </h3>
          <form action="" style="margin: auto;">
            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Agent Name
                </label>
                <input type="text" class="form-control" id="#" placeholder="Agent Name" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Client Name
                </label>
                <input type="text" class="form-control" id="#" placeholder="Client Name" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Nationality
                </label>
                <input type="text" class="form-control" id="#" placeholder="Nationality" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  No of People
                </label>
                <input type="text" class="form-control" id="#" placeholder="No of People" />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Arrival Date
                </label>
                <input type="text" class="form-control" id="#" placeholder="Arrival Date" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Departure Date
                </label>
                <input type="text" class="form-control" id="#" placeholder="Departure Date" />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  No of Days
                </label>
                <input type="text" class="form-control" id="#" placeholder="No of Days" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Star Category
                </label>
                <input type="text" class="form-control" id="#" placeholder="Star Category" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Tour Executive
                </label>
                <input type="text" class="form-control" id="#" placeholder="Tour Executive" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Exchange Rate
                </label>
                <input type="text" class="form-control" id="#" placeholder="Exchange Rate" />
                <br>
                <button type="button" class="btn btn-primary float-right">Done</button> <!--- LOAD button is here ---->
              </div>
            </div>

        </form>
        <!-- ******************* getting information / first section ends here ******************* -->

          <br>
          <br>
          <hr>

          <!-- EXCEL SHEET PART begins here - SECTION 2  --> <!-- Displaying gathered data is happening here -->
          <h3>
            Tour Details <span class="small">including customer details</span>
          </h3>

          <form action="" style="margin: auto;">
            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Agent Name
                </label>
                <input type="text" class="form-control" id="#" placeholder="Agent Name" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Client Name
                </label>
                <input type="text" class="form-control" id="#" placeholder="Client Name" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Nationality
                </label>
                <input type="text" class="form-control" id="#" placeholder="Nationality" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  No of People
                </label>
                <input type="text" class="form-control" id="#" placeholder="No of People" />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Arrival Date
                </label>
                <input type="text" class="form-control" id="#" placeholder="Arrival Date" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Departure Date
                </label>
                <input type="text" class="form-control" id="#" placeholder="Departure Date" />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  No of Days
                </label>
                <input type="text" class="form-control" id="#" placeholder="No of Days" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Star Category
                </label>
                <input type="text" class="form-control" id="#" placeholder="Star Category" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label>
                  Tour Executive
                </label>
                <input type="text" class="form-control" id="#" placeholder="Tour Executive" />
              </div>
              <div class="col-lg-6 form-group">
                <label>
                  Exchange Rate
                </label>
                <input type="text" class="form-control" id="#" placeholder="Exchange Rate" />
              </div>
            </div>
        </form>

        <hr>

        <!-- Gathering data and analysis section is here - section 3 -->
        <div class="row">
          <div class="col-md-3">
            <h3>
              Transportation Cost
            </h3>
            <form action="" style="margin: auto;">
              <div class="form-group">
                <label>
                  Gross Mileage (KM)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Gross Mileage (Google maps)" />
              </div>
              <div class="form-group">
                <label>
                  Extra Mileage (KM)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Extra Mileage" />
              </div>
              <div class="form-group">
                <label>
                  Total Mileage (KM)
                </label>
                <input type="text" class="form-control" id="#" placeholder="No of People" />
              </div>
              <div class="form-group">
                <label>
                  Kilometer charge (LKR)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Charge per Kilometer in LKR " />
              </div>

              <div class="form-group">
                <label>
                  Transportation Cost (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Total Transportation Cost Altogether" />
              </div>
          </form>


          </div>
          <div class="col-md-3">
            <h3>
              Driver &amp; Guide Costs
            </h3>
            <form action="">
              <div class="form-group">
                <label>
                  Driver's Bata (LKR)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Driver's Bata" />
              </div>
              <div class="form-group">
                <label>
                  Guide Fee (LKR)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Guide Fee" />
              </div>
              <div class="form-group">
                <label>
                  Total (LKR)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Total Transportation Cost" />
              </div>
            </form>
          </div>

          <!-- Additional Costs details are shown here -->
          <div class="col-md-6">
            <h3>
              Additional Costs
            </h3>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Note</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price &#36;</th>
                  <th scope="col">Total &#36;</th>
                  <th scope="col">PPC &#36;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Water Bottles</th>
                  <td>1</td>
                  <td>9.99</td>
                  <td></td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">Gifts</th>
                  <td>1</td>
                  <td>4.25</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">SIM Cards</th>
                  <td>1</td>
                  <td>1.25</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>

            <div class="form-group">
              <label>
                Total Additional Cost (LKR)
              </label>
              <input type="text" class="form-control" id="#" placeholder="Total Additional Cost in LKR" />
            </div>

            <form action="/action_page.php" method="get">
              <div class="form-group">
              <input list="browsers" name="browser">
              <datalist id="browsers">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
              </datalist>
              </div>
            </form>

          </div>
        </div>

        <hr>

        <h3>Accommodation | Meal Plans Costing</h3><br>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Product
                  </th>
                  <th>
                    Payment Taken
                  </th>
                  <th>
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    01/04/2012
                  </td>
                  <td>
                    Default
                  </td>
                </tr>
                <tr class="table-active">
                  <td>
                    1
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    01/04/2012
                  </td>
                  <td>
                    Approved
                  </td>
                </tr>
                <tr class="table-success">
                  <td>
                    2
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    02/04/2012
                  </td>
                  <td>
                    Declined
                  </td>
                </tr>
                <tr class="table-warning">
                  <td>
                    3
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    03/04/2012
                  </td>
                  <td>
                    Pending
                  </td>
                </tr>
                <tr class="table-danger">
                  <td>
                    4
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    04/04/2012
                  </td>
                  <td>
                    Call in to confirm
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="form-group">
              <label>
                Total Cost for accommodation (USD)
              </label>
              <input type="text" class="col-md-2 form-control" id="#" placeholder="Total Cost for accommodation in USD" />
            </div>

          </div>
        </div>

        <hr>


        <!-- Sight Seeing Costing Part Starts here -->
        <div class="row">
          <div class="col-md-7">
            <h3>
              Sight Seeing Cost
            </h3>
            <!-- Table for sight seeing cost -->
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Note</th>
                  <th scope="col">Cost &#36;</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total &#36;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Airport Chargers</th>
                  <td>10</td>
                  <td>2</td>
                  <td>20</td>
                </tr>
                <tr>
                  <th scope="row">Garlends Welcome</th>
                  <td>2</td>
                  <td>4</td>
                  <td>8</td>
                </tr>
                <tr>
                  <th scope="row">Sigiriya Rock Visit</th>
                  <td>30</td>
                  <td>4</td>
                  <td>120</td>
                </tr>
              </tbody>
            </table>
            <!-- Table for sight seeing cost ends here -->

            <!-- total -->
            <div class="form-group">
              <label>
                Total Cost for Sight Seeing (USD)
              </label>
              <input type="text" class="col-md-2 form-control" id="#" placeholder="Total Cost for Sight Seeing" />
            </div>

          </div>
         <!-- ++++++++++++++++++++ total cost ++++++++++++++++++++ -->
          <div class="col-md-5">
            <h3 class="text-danger">
              Total Cost
            </h3>

            <form action="">
              <div class="form-group">
                <label>
                  Total Cost (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Total Cost" />
              </div>
              <div class="form-group">
                <label>
                  Company Profit &#37; (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Company Profit &#37;" />
              </div>
              <div class="form-group">
                <label>
                  Company Total Profit (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Company Profit in USD" />
              </div>
              <div class="form-group">
                <label>
                  Agent Profit &#37; (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Agent Profit &#37;" />
              </div>
              <div class="form-group">
                <label>
                  Agent Total Profit (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Agent Profit in USD" />
              </div>
              <div class="form-group">
                <label>
                  Sales Person Profit &#37; (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Sales Person Profit &#37;" />
              </div>
              <div class="form-group">
                <label>
                  Sales Person Total Profit (USD)
                </label>
                <input type="text" class="form-control" id="#" placeholder="Sales Person Total in USD" />
              </div>
              <div class="form-group">
                <label class="text-danger">
                  Total Package Cost (USD)
                </label>
                <input type="text" class="form-control text-danger" id="#" placeholder="Total Package Cost in USD" />
              </div>
              <div class="form-group">
                <label class="text-danger">
                  Per Person Cost (USD)
                </label>
                <input type="text" class="form-control text-danger" id="#" placeholder="Per Person Cost in USD" />
              </div>

            </form>

          </div>
          <!-- ++++++++++++++++++++ total cost ends here ++++++++++++++++++++ -->

        </div>
        <!-- ********************* Sight Seeing Costing Part SECTION Ends here ********************* -->



        <div class="row">
          <div class="col-md-6">
            <dl>
              <dt>
                Description lists
              </dt>
              <dd>
                A description list is perfect for defining terms.
              </dd>
              <dt>
                Euismod
              </dt>
              <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              </dd>
              <dd>
                Donec id elit non mi porta gravida at eget metus.
              </dd>
              <dt>
                Malesuada porta
              </dt>
              <dd>
                Etiam porta sem malesuada magna mollis euismod.
              </dd>
              <dt>
                Felis euismod semper eget lacinia
              </dt>
              <dd>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </dd>
            </dl>
          </div>
          <div class="col-md-6">
            <dl>
              <dt>
                Description lists
              </dt>
              <dd>
                A description list is perfect for defining terms.
              </dd>
              <dt>
                Euismod
              </dt>
              <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              </dd>
              <dd>
                Donec id elit non mi porta gravida at eget metus.
              </dd>
              <dt>
                Malesuada porta
              </dt>
              <dd>
                Etiam porta sem malesuada magna mollis euismod.
              </dd>
              <dt>
                Felis euismod semper eget lacinia
              </dt>
              <dd>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
