
<h1 style="color: black;">{{UserName}}</h1>

   
    <br>
    <div class="jumbotron divmain container ">

      <div class="container-fluid">
       

  <!-- getting information / SECTION 1 starts here --> <!-- Customer Details section is here -->
  <div style="margin-left: -48px; margin-right: -48px; margin-top: -40px; height: 45px;" class="bg-dark center" >
  <h3 style="color: aliceblue; text-align: center;">Tour Planing and Costing</h3>
  </div>
<!-- ******************* getting information / first section ends here ******************* -->

<hr>



        <form #form="ngForm" style="margin: auto;">
        <!-- Gathering data and analysis section is here - section 3 -->
        <div class="row " id="div2">
          <div class="col-md-3" id="div1">
            <br>
            <div class="bg-dark center" >
            <h3 style="color: aliceblue; text-align: center;">
              Transportation Cost
            </h3>
            </div>
            <h2><a href="https://www.distance.to/">Find Distances here</a></h2>

            
              <input type="hidden" name="" #homeID="ngModel" [(ngModel)]="serviceHome.formData.homeID">

              <div class="form-group">
                <label>
                  Gross Mileage (KM)
                </label>
                <label>
                <input type="number" class="form-control" id="#" placeholder="Gross Mileage (Google maps)" name="grossMilage"  [(ngModel)]="grossMilage"/>
              </label>
              </div>
              <div class="form-group">
                <label>
                  Extra Mileage (KM)
                </label>
                <input type="number" class="form-control" id="#" placeholder="Extra Mileage" name="extraMilage" [(ngModel)]="extraMilage"/>
              </div>
              <!-- <div class="form-group">
                <label>
                  Kilometer charge (LKR)
                </label>
               
              </div> -->
              



              <div class="form-group">
                <label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white" id="basic-addon1">Customer</span>
                    </div>
                      <select  name="customerID"   class="form-control" id="customerID"  (click)="selectChangeHandlerCustomer($event)">  
                        <option value="No of People">Select Customer</option> 
                        <option value="{{cus.ID}}" *ngFor="let cus of service2.list "> {{cus.Name}}  </option>                              
                    </select></div>
                    <input type="hidden" name="customerName" id="" #customerName="ngModel" value="{{customerName}}" [(ngModel)]="serviceHome.formData.customerName">
                    <input type="hidden" name="numberOfAdult" id="" #numberOfAdult="ngModel" value="{{numberOfAdult}}" [(ngModel)]="serviceHome.formData.numberOfAdult">
                    <input type="hidden" name="numberOfChild" id="" #numberOfChild="ngModel" value="{{numberOfChild}}" [(ngModel)]="serviceHome.formData.numberOfChild">
                </label>
                <label>
                  Number of People:
                </label>
                <input type="text" class="form-control" id="#" value="{{numberOfPeople}}" placeholder="No of People" disabled [(ngModel)]="numberOfPeople"/>
              </div>
<!-- hkgkjgjgjkgkjkgjkgjkgkgj -->

              <div class="form-group">
                <label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white" id="basic-addon1">Vehicle</span>
                    </div>
                    <!-- <select  name="Guide"   class="form-control" id="guide" (click)="selectChangeHandlerVehicle($event)"> -->
                      <select  name="vehicalID"   class="form-control" id="guide" (click)="selectChangeHandlerVehicle($event)"> 
                        <option value="{{veh.VehicleID}}" *ngFor="let veh of service3.list  ">{{veh.Model}}, {{veh.OwnersName}} , {{veh.NoOfSeats}} </option>
                               
                    </select></div>
                </label>
                <label>
                 Vehicle Rate: (USD per KM)
                </label>
                <input type="number" class="form-control" id="#" placeholder="Charge per Kilometer in LKR "   value="{{chargePerKm}}"  />
              </div>

<!-- hhklhlk -->




              <!-- <Button id="btn" (click) ="checkTransportCost()">Check Transportation Cost</Button> -->
              <div class="form-group">
                <label>
                  Transportation Cost (USD)
                </label>
                <input type="number" class="form-control"  id="total" value="{{totalTransportCost}}"  placeholder="Total Transportation Cost Altogether" />
              </div>              
              <br><br>
          </div>
        
         
          <div id="div1" class="col-md-3"> 
            <br>
            <div class="bg-dark center" >
            <h3 style="color: aliceblue; text-align: center;">
              Driver & Guide Costs
            </h3>
            </div>
           
              <div class="form-group">
                <label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white" id="basic-addon1">Driver</span>
                    </div>
                    <!-- <select  name="Driver"   class="form-control" id="driver" (change)="selectChangeHandlerDriver($event)"> -->
                      <select  name="driverID"   class="form-control" id="driver"  (click)="selectChangeHandlerDriver($event)"> 
                        <option>Select Driver</option>
                        <option value="{{dri.DriverID}}"  *ngFor="let dri of service4.list" > {{dri.FirstName}}  </option>
                               
                    </select></div>
                </label>
                <input required id="guidePrice2" name="FirstName" value="{{rate}}" class="form-control" placeholder="Price" disabled>
              </div>



              <div class="form-group">
                <label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white" id="basic-addon1">Guide</span>
                    </div>
                    <!-- <select  name="Guide"   class="form-control" id="guide" (change)="selectChangeHandler($event)"> -->
                      <select  name="guideID"   class="form-control" id="guide" (change)="selectChangeHandlerGuide($event)">
                   
                      <option>Select Guide</option> 
                        <option value="{{guide.GuideID}}"  *ngFor="let guide of service.list "> {{guide.FirstName}}  </option>
                               
                    </select></div>
                </label>
                <input required id="guidePrice2" name="FirstName" value="{{guidePrice}}" class="form-control" placeholder="Price" disabled>
              </div>
             
              <div class="form-group">
                <label>
                  Total (USD)
                </label>
                <input type="text" class="form-control" id="total" value="{{TotalDAndGPrice}}" placeholder="Guide & Drivers Total" disabled />
              </div>

              <div style="width: 210px; height: 345px; border-radius: 5px; border-color: black; border-style: solid; border-width: 3;">
                <img class="card-img-top" src="/assets/img/driverguide.jpg">
              </div>
          </div>




          <div id="div1" class="col-md-6"> 
            <br>
            <div class="bg-dark center">
            <h3 style="color: aliceblue; text-align: center;">
              Sight-Seeing Costing
            </h3>
            </div>
            <div style="width: 480px; height: 275px; border-radius: 5px; border-color: black; border-style: solid; border-width: 3;">
              <img class="card-img-top" src="/assets/img/tour.jpg">
            </div>
            <br>


           <form #formDes="ngForm" (submit)="addDestination(formDes)">
            <div class="form-row" >
              <div class="form-group col-md-8">
            <input type="hidden" name="HomeDestinationID" #HomeDestinationID="ngModel" [(ngModel)]="serviceHomeDestination.formData.HomeDestinationID" >

            <label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-info text-white" id="basic-addon1">Destination</span>
                </div>
                  <select  name="NameDestination"    class="form-control" id="driver"  (change)="selectChangeHandlerDestination($event)"> 
                    <option>Select Destination</option> 
                    <option value="{{des.DestinationID}}"  *ngFor="let des of service1.list" >{{des.DestinationName}}</option>
                           
                </select></div>
            </label>

            
             
              
                <input type="hidden" class="form-control" name="NameDestination" id="" #NameDestination="ngModel" [(ngModel)]="serviceHomeDestination.formData.NameDestination" >

                <input type="hidden" class="form-control" name="DestinationDuration" id="" #DestinationDuration="ngModel" [(ngModel)]="serviceHomeDestination.formData.DestinationDuration">

                <input type="hidden" class="form-control" name="Rules" id="" #Rules="ngModel" [(ngModel)]="serviceHomeDestination.formData.Rules">

                <input type="hidden" class="form-control" name="Description" id="" #Description="ngModel" [(ngModel)]="serviceHomeDestination.formData.Description">
            </div>
            <!-- <div class="form-group col-md-6">

            </div> -->
            </div>





            <div class="form-row" >
                <div class="form-group col-md-7">

            <label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-info text-white" id="basic-addon1">Adult Count</span>
                </div>
                <input type="text" class="form-control" name="numberOfAudult" [(ngModel)]="serviceHomeDestination.formData.numberOfAudult" id=""  >
              </div>
            </label>

            <label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-info text-white" id="basic-addon1">Children Count</span>
                </div>
                <input type="text" class="form-control" name="numberOfChild" id="" #numberOfChild="ngModel" [(ngModel)]="serviceHomeDestination.formData.numberOfChild" >
              </div>
            </label>
                </div>
                <div class="form-group col-md-5">

                  <label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white" id="basic-addon1">Adult Price</span>
                      </div>
                      <input type="text" class="form-control" name="adultPrice" id=""  #adultPrice="ngModel" [(ngModel)]="serviceHomeDestination.formData.adultPrice" >
                    </div>
                  </label>
      
                  <label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white" id="basic-addon1">Children Price</span>
                      </div>
                      <input type="text" class="form-control" name="childPrice" id=""  #childPrice="ngModel" [(ngModel)]="serviceHomeDestination.formData.childPrice" >
                    </div>
                  </label>
                      </div>

                      <div class="form-row" >
                          <div class="form-group col-md-9">

                            <div class="form-group">
                              <label>
                                Total (USD)
                              </label>
                              <input type="text" class="form-control" id="total" placeholder="Sight Seen Cost"  name="TotalSightSeenCost"  #TotalSightSeenCost="ngModel" [(ngModel)]="serviceHomeDestination.formData.TotalSightSeenCost" />
                            </div>


                          </div>

                      </div>
            </div>
          
            <div style="text-align: center;"> 
            <button type="submit" [disabled]="form.invalid"  class="btn btn-lg btn-info btn-block">Add to Package</button>
          </div>
          </form>
          <br>
          <br>
         
          </div>



  </div>

          
            <div id="div2">
              <br>
              <div class="bg-dark center" style="margin-left: 10px; margin-right: 10px;" >
                <h3 style="color: aliceblue; text-align: center;">
                  Accommodation | Meal Plans Costing
                </h3>
                </div>
            <br>
    
            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    
    <div class="container">
      <form #formHotel="ngForm" (submit)="addHotel(formHotel)">
      <div class="form-row" >
        <div class="form-group col-md-4">

        <input type="hidden" name="HomeHotelID"  #HomeHotelID="ngModel" [(ngModel)]="serviceHomeHotel.formData.HomeHotelID" >
       
        <div class="form-group">
          <label for="">Tour Date</label>
          <input type="date" name="date" class="form-control" #date="ngModel" [(ngModel)]="serviceHomeHotel.formData.date">
        </div>

        <div class="form-group">

          <label for="">Hotel / Star Classs</label> 

          <!-- <select  name="hotelID"   class="form-control" id="hotel" #hotelID="ngModel" [(ngModel)]="serviceHome.formData.hotelID" (change)="selectChangeHandlerHotel($event)">                
              <option value="{{hotel.HotelID}}"  *ngFor="let hotel of service7.list" >{{hotel.HotelName}} || {{hotel.Address}} || {{hotel.StarClass}}</option>
          </select> -->

          <select  name="hotelID"   class="form-control" id="hotel"  (change)="selectChangeHandlerHotel($event)">
                   
            <option value="1">Select Hotel</option> 
              <option value="{{dri.HotelID}} "  *ngFor="let dri of service7.list" > {{dri.HotelName}}  </option>                   
          </select>
        </div>

        <div class="form-group">
         <input type="hidden" name="hotelName" class="form-control" #hotelName="ngModel" [(ngModel)]="serviceHomeHotel.formData.hotelName" >  
        </div>


        <div class="form-group">
          <label for="">Meal Plan</label>
         <select class="form-control" name="MealPlan" (change)="selectChangeHandlerMealPlan($event)" >                
              
              <option>Select Meal Plan</option>
              <option value="{{RoomOnly}}">Room Only</option>
              <option value="{{BedAndBreakfast}}">Bed And Breackfast</option>
              <option value="{{FullBoard}}">Full Board</option>
              <option value="{{HalfBoard}}">Half Board</option>
           
          </select>
          <input type="hidden"   name="currentMealPlan"  #currentMealPlan="ngModel" [(ngModel)]="serviceHomeHotel.formData.currentMealPlan">
        </div>
        <div class="form-group ">
          <label for="">Meal Plan Cost</label>  <br>            
          <input type="number"   name="MealSingle"   [(ngModel)]="MealSingle" disabled> 
        </div>
        <input type="hidden"   name="MealPlan"  #MealPlan="ngModel" [(ngModel)]="serviceHomeHotel.formData.MealPlan">
      </div>
      <div class="form-group col-md-4">

        <div class="form-group">
          <label for="">Single Room</label>
          <input type="number" name="SingleRoomCount" class="form-control"  #SingleRoomCount="ngModel" [(ngModel)]="serviceHomeHotel.formData.SingleRoomCount">
        </div>

        <div class="form-group">
          <label for="">Double Room</label>
          <input type="number" name="DoubleRoomCount" class="form-control" #DoubleRoomCount="ngModel"  [(ngModel)]="serviceHomeHotel.formData.DoubleRoomCount">
        </div>
        
        <div class="form-group">
          <label for="">Trible Room</label>
          <input type="number" name="TripleRoomCount" class="form-control" #TripleRoomCount="ngModel"  [(ngModel)]="serviceHomeHotel.formData.TripleRoomCount">
        </div>

        <div class="form-group">
          <label for="">Guide Room</label>
          <input type="number" name="GuidedRoomCount" class="form-control" #GuidedRoomCount="ngModel"  [(ngModel)]="serviceHomeHotel.formData.GuidedRoomCount">
        </div>
      </div>

      <div class="form-group col-md-4">

        <div class="form-group col-md-6">
          <label for="">Single room Cost</label>
          <select  name="singleRoomCost"   class="form-control" #singleRoomCost="ngModel"  [(ngModel)]="serviceHomeHotel.formData.singleRoomCost">                
            <option value="{{Single}}">{{Single}}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="">Double room Cost</label>
          <select  name="doubleRoomCost"   class="form-control" #doubleRoomCost="ngModel"  [(ngModel)]="serviceHomeHotel.formData.doubleRoomCost">                
            <option value="{{Double}}">{{Double}}</option>
          </select>
        </div>
        
        <div class="form-group col-md-6">
          <label for="">Triple room Cost</label>
          <select  name="tripleRoomCost"   class="form-control" #tripleRoomCost="ngModel"  [(ngModel)]="serviceHomeHotel.formData.tripleRoomCost">                
            <option value="{{Triple}}">{{Triple}}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="">Guide room Cost</label>
          <select  name="guideRoomCost"   class="form-control" #guideRoomCost="ngModel"  [(ngModel)]="serviceHomeHotel.formData.guideRoomCost">                
            <option value="{{Single}}">{{Single}}</option>
          </select>
        </div>
      </div>
      
      </div>

      <div class="row">
        <div class="col-md-4">
          <button type="button" (click)="calcTotMEalAndRoom()" class="card-link btn btn-sm btn-outline-success ybtn">Check Total</button>
            <!-- <input type="number" name="Tot" class="form-control" value="{{Tot}}"> -->

            <input type="number" name="TotalMealAnddRooms" class="form-control"  #TotalMealAnddRooms="ngModel" [(ngModel)]="serviceHomeHotel.formData.TotalMealAnddRooms">
        </div>
        

        <div class="col-md-4">
     <div style="text-align: center;">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-info btn-block">Confirm Day Plan</button>
      </div>
      </div>
      
    
    
        <!-- <div class="col-md-4">
          <div class="input-group-prepend"> -->
      
        <!-- <button type="button" class="card-link btn btn-sm btn-outline-success ybtn" [mat-dialog-close]>CLOSE</button> -->
    <!-- </div>
    </div> -->
  </div>
  <br>
  </form>
     
    </div>
  </div>       
            <div  id="container">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr >
                    <th scope="col" class="text-success">Customer Name</th> 
                    <th scope="col" class="text-success">Nationality</th> 
                    <th scope="col" class="text-success">Email</th> 
                    <th scope="col" class="text-success">Contact No</th> 
                    <th scope="col" class="text-success">Number of Adult</th>
                    <th scope="col" class="text-success">Number Of Children</th>
                  </tr>
                </thead>
   
                <tbody>
                    <tr>
                     <td scope="col" class="text-info bg-white">{{serviceHome.formData.customerName}}</td>
                     <td scope="col" class="text-info bg-white">{{Nationality}}</td>
                     <td scope="col" class="text-info bg-white">{{Email}}</td>
                     <td scope="col" class="text-info bg-white">{{Contact}}</td>
                     <td scope="col" class="text-info bg-white">{{serviceHome.formData.numberOfAdult}}</td>
                     <td scope="col" class="text-info bg-white">{{serviceHome.formData.numberOfChild}}</td>
                    </tr> 
                </tbody>
              </table>
            <table class="table table-hover">

                <thead class="thead-dark">
                  <tr >
                    <th scope="col" class="text-success">Milage Type </th>
                    <th scope="col" class="text-success">Distance </th>
                    <th scope="col" class="text-success">Total Milage </th>
                    <th scope="col" class="text-success">Driver Name</th> 
                    <th scope="col" class="text-success">Driver Contact Number</th>
                    <th scope="col" class="text-success">Guide Name</th> 
                    <th scope="col" class="text-success">Guide Contact Number</th>  
                  </tr>
                </thead>
               
                <tbody>
                  <tr >
                     <td scope="col" class="text-info bg-white">Gross Milage</td> 
                     <td scope="col" class="text-info bg-white">{{grossMilage}}</td>
                     <td scope="col" class="text-info bg-white">{{totalMilage}}</td>
                     <td scope="col" class="text-info bg-white">{{driverFirstName}} {{driverLastName}}</td>
                     <td scope="col" class="text-info bg-white">{{driverContact}}</td>
                     <td scope="col" class="text-info bg-white">{{GuideFirstName}} {{GuideLastName}}</td>
                     <td scope="col" class="text-info bg-white">{{GuideContact}}</td>
                  </tr>

                  <tr >
                     <td scope="col" class="text-info bg-white">Extra Milage</td> 
                     <td scope="col" class="text-info bg-white">{{extraMilage}}</td>
                   
                 </tr>
                </tbody>
            </table>
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr >
                    <th scope="col" class="text-success">Vehical Type</th> 
                    <th scope="col" class="text-success">Vehical Number</th> 
                    <th scope="col" class="text-success">Number of Seats</th> 
                    <th scope="col" class="text-success">Owner Name</th> 
                    <th scope="col" class="text-success">Owner Contact Number</th> 
                  </tr>
                </thead>
   
                <tbody>
                    <tr>
                     <td scope="col" class="text-info bg-white">{{VehicalModel}}</td>
                     <td scope="col" class="text-info bg-white">{{VehicalNumber}}</td>
                     <td scope="col" class="text-info bg-white">{{numberOfSeats}}</td>
                     <td scope="col" class="text-info bg-white">{{OwnerName}}</td>
                     <td scope="col" class="text-info bg-white">{{OwnerContact}}</td>
                    </tr> 
                </tbody>
            </table>
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr >
                    <th scope="col" class="text-success">Tour Plan Date</th> 
                    <th scope="col" class="text-success">Hotel Name</th> 
                    <th scope="col" class="text-success">Meal Plan</th> 
                    <th scope="col" class="text-success">Meal Plan Cost</th> 
                    <th scope="col" class="text-success">Single Room Count</th> 
                    <!-- <th scope="col" class="text-success">Cost</th>  -->
                    <th scope="col" class="text-success">Double Room Count</th>
                    <!-- <th scope="col" class="text-success">Cost</th> -->
                    <th scope="col" class="text-success">Triple Room Count</th> 
                    <!-- <th scope="col" class="text-success">Cost</th>  -->
                    <th scope="col" class="text-success">Guide Room Count</th> 
                    <!-- <th scope="col" class="text-success">Cost</th> -->
                    <th scope="col" class="text-success">Total Fee</th>
                  </tr>
                </thead>
   
                <tbody>
                    <tr *ngFor="let homeHotel of serviceHomeHotel.list ">
                     <td scope="col" class="text-info bg-white">{{homeHotel.Date}}</td>
                     <td scope="col" class="text-info bg-white">{{homeHotel.hotelName}}</td>
                     <td scope="col" class="text-info bg-white">{{homeHotel.currentMealPlan}}</td>
                     <td scope="col" class="text-info bg-white">{{homeHotel.MealPlan}}</td>
                     <td scope="col" class="text-info bg-white">{{homeHotel.SingleRoomCount}}</td>
                     <!-- <td scope="col" class="text-info bg-white">{{homeHotel.singleRoomCost}}</td> -->
                     <td scope="col" class="text-info bg-white">{{homeHotel.DoubleRoomCount}}</td>
                     <!-- <td scope="col" class="text-info bg-white">{{homeHotel.doubleRoomCost}}</td> -->
                     <td scope="col" class="text-info bg-white">{{homeHotel.TripleRoomCount}}</td>
                     <!-- <td scope="col" class="text-info bg-white">{{homeHotel.tripleRoomCost}}</td> -->
                     <td scope="col" class="text-info bg-white">{{homeHotel.GuidedRoomCount}}</td>
                     <!-- <td scope="col" class="text-info bg-white">{{homeHotel.guideRoomCost}}</td> -->
                     <td scope="col" class="text-info bg-white">{{homeHotel.TotalMealAnddRooms}}</td> 
                    </tr> 
                </tbody>   
            </table>

            <table class="table table-hover">
              <thead class="thead-dark">
                <tr >
                  <th scope="col" class="text-success">Destination Name</th> 
                  <th scope="col" class="text-success">Duration</th> 
                  <th scope="col" class="text-success">Adult Count</th> 
                  <th scope="col" class="text-success">Adult Fee</th>
                  <th scope="col" class="text-success">Child Count</th>
                  <th scope="col" class="text-success">Child Fee</th> 
                  <th scope="col" class="text-success">Total Fee</th>
                </tr>
              </thead>
 
              <tbody>
                  <tr *ngFor="let homeDesti of serviceHomeDestination.list ">
                   <td scope="col" class="text-info bg-white">{{homeDesti.NameDestination}}</td>
                   <td scope="col" class="text-info bg-white">{{homeDesti.DestinationDuration}}</td>
                   <td scope="col" class="text-info bg-white">{{homeDesti.numberOfAudult}}</td>
                   <td scope="col" class="text-info bg-white">{{homeDesti.adultPrice}}</td>
                   <td scope="col" class="text-info bg-white">{{homeDesti.numberOfChild}}</td>
                   <td scope="col" class="text-info bg-white">{{homeDesti.childPrice}}</td>
                   <td scope="col" class="text-info bg-white">{{homeDesti.TotalSightSeenCost}}</td>
                  </tr> 
              </tbody>
            </table>


            <table class="table table-hover">
              <thead class="thead-dark">
                <tr >
                  <th scope="col" class="text-success">Package Cost (including Service charges)</th> 
                </tr>
              </thead>
 
              <tbody>
                  <tr>
                   <td scope="col" class="text-info bg-white">{{serviceHome.formData.OverollCost}}</td>
                  </tr> 
              </tbody>
            </table>

            </div>

            
    
            <div class="row">
              <div class="form-group col-md-1"></div>
            <div class="form-group col-md-3" id="div2">
              <br>
              <h3 class="text-danger">
                Total Expenses Costing
              </h3>
              <br>
        <label for="">Total Transportation Cost</label>
      <select  name="totalTransportationCost"   class="form-control" [(ngModel)]="totalTransportationCost">                
        <option value="{{totalTransportationCost}}">{{totalTransportationCost}}</option>
      </select>

      <label for="">Guide & Driver Total</label>
      <select  name="GuideAndDriverTotal"   class="form-control" [(ngModel)]="GuideAndDriverTotal">                
        <option value="{{GuideAndDriverTotal}}">{{GuideAndDriverTotal}}</option>
      </select>

      <label for="">Total Room Charges</label>
      <select  name="totalRoomCharges"   class="form-control" [(ngModel)]="totalRoomCharges">                
        <option value="{{totalRoomCharges}}">{{totalRoomCharges}}</option>
      </select>


      <label for="">Total Meal Plan Charges</label>
      <select  name="totalMealPlanCost"   class="form-control"  [(ngModel)]="totalMealPlanCost">                
        <option value="{{totalMealPlanCost}}">{{totalMealPlanCost}}</option>
      </select>
      <label for="">Total (Meal Plan + Room Charges) </label>
      <select  name="totalMealAndRoomChargesValue"   class="form-control"  [(ngModel)]="totalMealAndRoomChargesValue">                
        <option value="{{totalMealAndRoomChargesValue}}">{{totalMealAndRoomChargesValue}}</option>
      </select>

      <label for="">Total Sight-Seeing Charges</label>
      <select  name="totalSightSeeingCharges"   class="form-control" [(ngModel)]="totalSightSeeingCharges">                
        <option value="{{totalSightSeeingCharges}}">{{totalSightSeeingCharges}}</option>
      </select>
      <div class="form-group">
        <label>
          Total Expenses (USD)
        </label>
        <input type="number" class="form-control" id="total" name="TotalExpenses"  #TotalExpenses="ngModel" [(ngModel)]="serviceHome.formData.TotalExpenses"  placeholder="TotalExpenses" />
      </div> 
      <br>
      <button type="button" (click)="calcTot()" >Calculate Total Expenses</button>
      <br>
      <br>
    </div>


    <div class="form-group col-md-2"></div>


    <div class="form-group col-md-5"  id="div2">
      <br>
      <h3 class="text-danger">
        Total Packege Costing
      </h3>
      <br>
        <div class="form-group">
          <label>
            Total Expenses (USD)
          </label>
          <input type="text" class="form-control" id="#" name="TotalExpenses"  #TotalExpenses="ngModel" [(ngModel)]="serviceHome.formData.TotalExpenses"  placeholder="Total Expenses (LKR)" />
          <!-- <input type="hidden" name="TotalExpenses" id="" #TotalExpenses="ngModel" [(ngModel)]="serviceHome.formData.TotalExpenses"> -->
        </div>
        <div class="form-group">
          <label>
            Company Profit %
          </label>
          <!-- <input type="text" class="form-control"  name="CompanyPres" value="{{CompanyPres}}"  [(ngModel)]="CompanyPres" /> -->
          <input type="text" class="form-control"  name="CompanyPresentage"  #CompanyPresentage="ngModel" [(ngModel)]="serviceHome.formData.CompanyPresentage"  placeholder="Company Profit %" />
        </div>
        
        <div class="form-group">
          <label>
            Agent Profit %
          </label>
          <input type="text" class="form-control" id="#" name="AgentProfitPrasentage"  #AgentProfitPrasentage="ngModel" [(ngModel)]="serviceHome.formData.AgentProfitPrasentage" placeholder="Agent Profit %" />
          <!-- <input type="hidden" name="AgentProfitPrasentage" id="" #AgentProfitPrasentage="ngModel" [(ngModel)]="serviceHome.formData.AgentProfitPrasentage"> -->
        </div>
        <br>
        <button type="button" (click)="calOverOll(form)" >Calculate Profit</button>
        <br>
        <br>
        <div class="form-group">
          <label>
            Company Total Profit (USD)
          </label>
          <input type="text" class="form-control" id="#" name="comanyProfit"  #comanyProfit="ngModel" [(ngModel)]="serviceHome.formData.comanyProfit" placeholder="Company Profit (LKR)" />
        </div>
        <div class="form-group">
          <label>
            Agent Total Profit (USD)
          </label>
          <input type="text" class="form-control" id="#" name="AgentProfit"  #AgentProfit="ngModel" [(ngModel)]="serviceHome.formData.AgentProfit" placeholder="Agent Profit (LKR)" />
        </div>
        <div class="form-group">
          <label class="text-danger">
            Total Package Cost (USD)
          </label>
          <input type="text" class="form-control text-danger" name="OverollCost"  #OverollCost="ngModel" [(ngModel)]="serviceHome.formData.OverollCost"  id="#" placeholder="Total Package Cost (LKR)" />
        </div>
        <button type="button"  (click)="onSubmit(form)">finish</button>
     

    </div>
  </div>
</form>          
  <hr>

            <div style="margin-left: -48px; margin-right: -48px; margin-top: 100px; height: 45px;" class="bg-dark center" >
            </div>
          </div>
        </div>
  