#div1
{
    border: 1px solid green;
}

#btn
{
    background-color: green
}

#total
{
    color:red;
    background-color: green;
    text-align: center;
}
#total1
{
    color:red;
    background-color: green;
    text-align: center;
}