#div1
{
    border: 1px solid black;
}

#div2
{
    border: 3px solid black;
    margin: 10px;
}

#btn
{
    background-color: rgb(0, 113, 128)
}

#total
{
    color:rgb(11, 239, 255);
    background-color: rgb(0, 113, 128);
    text-align: center;
    
}
#total1
{
    color:rgb(11, 239, 255);
    background-color: rgb(0, 113, 128);
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(245, 241, 241);
    font-weight: lighter;; /* Firefox */
  }